ion-header{
    ion-toolbar{
        // --background:transparent;
        --min-height:42px;
        &.ios{
            --min-height:42px;
        }
        ion-title{
            font-size: 25px;
            white-space: normal;
            padding-inline-start: 25px;
            padding-top: 20px;
            &.ios{
                text-align: left;
                height: auto;
                font-weight: normal;
                padding-inline: 20px;
            }
        }
        [slot="end"]{
            margin-inline-end: 15px;
            
            &.ios{
                margin-inline-end: 10px;
            }
        }
        
    }
}
.sc-ion-buttons-md-s ion-button{
    margin-inline-end:8px;
    margin-top: 5px;
}

.page-padding{
    padding:0 20px 20px;
}

h3 {
    font-size: 19px;
    color: #333;
    margin: 0 0 10px;
    text-align: center;
    font-weight: 600;
}
h5{
    text-align: center; font-size: 16px; margin: 10px 0;
}
p {
    font-size: 15px;
    margin:10px 0px;
    color: #555;
    line-height: 22px;
    
}
.btn-row{
    margin: 20px 0px 0; text-align: center;
    ion-button{        
        --padding-start:20px;
        --padding-end:20px;
        --box-shadow:none;
        min-width: 100px;
        margin: 0 5px;
        text-transform: uppercase;
        font-family: 'camptonbook';
        &.ok{
            --background:#d8322b;
            --background-activated:#d8322b;
            --background-focused:#d8322b;
            --color:#fff;
        }
        &.cancel{
            --background:#000;
            --background-activated:#000;
            --background-focused:#000;
            --color:#fff;
        }
    }
}









/**************************************************************/
/***** iPad 11, iPad Pro, iPad mini ****/
@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (min-device-height: 1024px) 
and (max-device-height: 1366px) 
and (-webkit-min-device-pixel-ratio: 2){


 




}