<div class="verify-box">
  <h2 class="verify-title">{{
    'VERIFY_TITLE_CONTINUE_SIGNUP' | translate }}</h2>
  <p class="verify-subtitle">
    {{
    'VERIFY_SUBTITLE_ENTER_NUMBER' | translate }}
  </p>
  <!-- SEARCH BAR-->
  <div class="searchdiv socialCountry" #searchDiv>
    <!-- Flag for main search -->
    <div class="flagicon" *ngIf="isearchIMg">
      <img *ngIf="isearchIMg.toLowerCase() === 'latam'" src="assets/flags/la.svg" alt="LATAM flag">
      <img *ngIf="isearchIMg.toLowerCase() === 'europe+'" src="assets/flags/eur.svg" alt="Europe+ flag">
      <img *ngIf="isearchIMg.toLowerCase() === 'north america'" src="assets/flags/northam.svg" alt="North America flag">
      <img *ngIf="isearchIMg.toLowerCase() === 'middle east'" src="assets/flags/middleast.svg" alt="Middle East flag">
      <img
        *ngIf="isearchIMg.toLowerCase() !== 'latam' && isearchIMg.toLowerCase() !== 'europe+' && isearchIMg.toLowerCase() !== 'north america' && isearchIMg.toLowerCase() !== 'middle east'"
        src="assets/flags/{{ isearchIMg | lowercase }}.svg" alt="{{ isearchIMg }} flag">
    </div>

       <ion-searchbar 
  (ionFocus)="onFocusSearch()"  
  (keyup)="onSearch($event)" 
  (ionClear)="onClearSearch()" 
  class="homesearch"
  [placeholder]="'Country_residence' | translate" 
  [(ngModel)]="searchTerm">
</ion-searchbar>


<!-- Error message always takes space -->
<p class="error-msg" [class.visible]="!!countryError">{{ countryError }}</p>

    <!-- Search results -->
    <div class="searchlist" *ngIf="isSearch && searchData.length > 0">
      <ion-list>
        <ion-item *ngFor="let item of searchData" (click)="gotoSelect(item)">
          <!-- Flags -->
           <ion-avatar slot="start">
            <img src="assets/flags/{{ item.short_name | lowercase }}.svg" alt="{{ item.short_name }} flag">
          </ion-avatar>

          <!-- Dynamic name display -->
          <ion-label>{{ item.country_name }}</ion-label>
        </ion-item>
      </ion-list>
    </div>
    <!-- Search list end -->
  </div>

  <div class="countryselectrow">
    <div class="countryselect" *ngIf="isCountrySelected"  (click)="chooseCountry()">
   <img class="countryimg"
      *ngIf="countryCodeObj?.flag"
      src="assets/flags/{{countryCodeObj.flag | lowercase}}.svg">

      <span class="countrycode">{{ countryCodeObj?.code }}</span>
    </div>

      <!-- Mobile number input -->
  <div class="phoneno" [ngClass]="{ 'fullwidth': !isCountrySelected }">
    <ion-item lines="none">
      <ion-input type="tel"
        (ionInput)="onSearchMobile($event)" 
        [(ngModel)]="temp_mobile_number"
        maxlength="11"
        placeholder="{{ 'MOBILE_NUMBER' | translate }}">
      </ion-input>
    </ion-item>
  </div>
  </div>
  <p class="error-msg" [class.visible]="!!phoneError">{{ phoneError }}</p>
  <ion-button expand="block"  (click)="submit()" class="btn-green btn-signup">{{
    'CREATE_ACCOUNT_SIGN_UP_BUTTON' | translate }} </ion-button>
</div>
