

<ion-content class="ion-padding" [fullscreen]="true">
 
  <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     <h3>{{ 'L2_TRAVEL_SIM_MARKETPLACE' | translate }}</h3>
     <p>{{ 'comming_soon' | translate }}</p> 
    </ion-title>

  </ion-toolbar>
</ion-header>

  <div class="loungepassbox">
    <div class="airport">
      <img src="assets/img/airport-lounge.png" alt="">
    </div>
    <h3>{{ 'Airport_lounge_pass' | translate }}</h3>
    <p>{{ 'comming_soon' | translate }}</p>
  </div>

  
  <div class="datacontainer">
    <div class="datablock">
      <img src="assets/img/accessories-offer.png" alt="">
      <h4>{{ 'L2_ACCESSORIES_OFFER' | translate }}</h4>
      <p>{{ 'comming_soon' | translate }}</p>
    </div>
    <div class="datablock">
      <img src="assets/img/travel-insurance.png" alt="">
      <h4>{{ 'AS_TRAVEL_INSURANCE' | translate }}</h4>
      <p>{{ 'comming_soon' | translate }}</p>
    </div>
    <div class="datablock">
      <img src="assets/img/broadband.png" alt="">
      <h4>{{ 'AS_BROADBAND_SERVICE' | translate }}</h4>
      <p>{{ 'comming_soon' | translate }}</p>
    </div>
    <div class="datablock">
      <img src="assets/img/health-insurance.png" alt="">
      <h4>{{ 'HEALTH_INSURANCE' | translate }}</h4>
      <p>{{ 'comming_soon' | translate }}</p>
    </div>
  </div>


</ion-content>


<ion-footer>
  <ion-toolbar>
    <div class="tabmenu">
      <ion-button routerLink="/home-search">
        <img class="normal" src="assets/img/icons/location.png" alt="">
        <img class="active" src="assets/img/icons/location-yellow.png" alt="">
      </ion-button>

      <ion-button (click)="gototab1()">
        <img class="normal" src="assets/img/icons/scan.png" alt="">
        <img class="active" src="assets/img/icons/scan-yellow.png" alt="">
      </ion-button>

      <ion-button class="selected">
        <img class="normal" src="assets/img/icons/shop.png" alt="">
        <img class="active" src="assets/img/icons/shop-yellow.png" alt="">
      </ion-button>

      <ion-button (click)="gototab5()">
        <img class="normal" src="assets/img/icons/user.png" alt="">
        <img class="active" src="assets/img/icons/user-yellow.png" alt="">
      </ion-button>      
    </div>
  </ion-toolbar>
</ion-footer>

 
