svg.radial-progress {
    height: auto;
    max-width: 240px;
    padding: 0;
    transform: rotate(-90deg);
    width: 100%;
    background-color: var(--theme-gray);
    border-radius: 50%;
    transition: transform 0.5s ease-in-out, background-color 0.5s ease-in-out; 
  }
  
  svg.radial-progress.flipped.error {
    //transform: rotate(90deg);
    background-color: var(--theme-color-2);
  }
  
  svg.radial-progress.flipped.success {
    //transform: rotate(90deg);
    background-color: #4faf3b;
  }
  .success{
    background-color: #4faf3b;
  }
  
  .error{
    background-color: var(--theme-color-2);
  }
  
  
  // svg.radial-progress.success {
  //   background-color: #4faf3b; /* Success green color */
  // }
  
  svg.radial-progress circle {
    // fill: transparent;
    stroke: #fff;
  }
  
  svg.radial-progress circle.bar-static {
    // stroke: #fafafa !important;
  }
  
  svg.radial-progress circle.bar--animated {
   fill: #FD837F;
    stroke-dasharray: 219.91148575129;
   stroke: var(--theme-color-1);
    stroke-dashoffset: 219.91148575129;
    stroke-width: 8px;
    stroke-linecap: round;
    transition: stroke-dashoffset 0.1s linear; 
  }
  
  svg.radial-progress text {
    fill: var(--theme-color-2);
    font-size: 11px;
    font-weight: 700;
    text-anchor: middle;
    // text-shadow: 0 0 5px var(--theme-color-2);
  }
  
  section.svg-container {
    width: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 170px;
    margin: 30px auto 0px;
  }
  
  section.svg-container.success svg.radial-progress {
    background-color: #4faf3b; /* Success green color */
  }
  
  .message-container {
    font-size: 15px;
    //color: var(--theme-color-2);
     color: #fff;
    margin: 10px 20px 0;
    text-align: center;
    p{
      //color: var(--theme-color-2);
      color: #000;
    }
  }
  
  
  
  
  /**************************************************************/
  /***** iPad 11, iPad Pro, iPad mini ****/
  @media only screen 
 and (min-device-width: 768px) 
and (min-device-height: 1024px) 
// and (max-device-width: 1024px) 
// and (max-device-height: 1366px)
  and (-webkit-min-device-pixel-ratio: 2){
  
  
  section.svg-container {
    width: 220px; height: 220px; margin: 50px auto 0px;
  }
  
  
  
  }
