ion-header{
    ion-toolbar{      
        --min-height:150px;
        height: 100px;
        --background:transparent;
        &.ios{ --min-height:150px;}
        ion-title{
          text-align: left; 
          &.ios{ 
            padding-inline:25px; margin-top:10px; line-height: 26px;
          }
          p{ color: #fff; }
        }
        [slot="end"]{
          margin-inline-end: 15px;
        }
        ion-buttons{
            ion-button{              
                display: inline-block;
                margin-inline-start:0;
                margin-inline-end: 0;
                // margin-top: -20px;
                color: #fff;
        
                &::part(native){
                    padding-inline-start: 10px;
                    padding-inline-end: 0px;
                }
                &.ios{ margin-top:-5px; }
            }
        }
    }
  }
  
ion-content {
  --background: #fff;
}

ion-content{
  &::after{
    position: absolute; z-index: 11; left: 0; right: 0; bottom: 0; height: 100px; content: "";
    background: linear-gradient(to bottom,  rgba(13,13,32,0.05) 0%,rgba(13,13,32,1) 80%); pointer-events: none; display: none;  
  }
}
  
.topbox{
  min-height: 270px; 
  width: 100%; 
  position: relative; 
  color: #fff;
  
  &::after{
    position: absolute; z-index: 1; left: 0; right: 0; top: 0; bottom: 0; content: "";
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.6);
  }

  .topboxbg{
    position: absolute; z-index: -1; left: 0; right: 0; top: 0; bottom: 0; content: "";
  }

  h3{
    margin: -10px 20px 0;
    font-weight: 700;
    font-size: 35px;
    line-height: 40px;
    color: #fff;
  }
  h5{
    margin: -5px 0 0;
    font-size: 26px;
    font-weight: 300;
  }
  .country{
    width: 60px;
    height: 40px;
    overflow: hidden;
    display: inline-block;
    border-radius: 6px;
    vertical-align: middle;
    margin-left: 8px;
    img{
      width: 100%; height: 100%; object-fit: cover;
    }
  }
  .d-flex{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  ion-row{
    margin: 0 10px 0;
    ion-col{
      h3{
        margin: 0 0 5px; font-weight: 900; font-size: 36px;
      }
    }
  }
}

.topinner{
  position: relative; z-index: 11;
}

.container{
    position: relative; color: #fff; padding: 10px 25px 20px;

    &::after{
    position: absolute; z-index: 111; left: 0; right: 0; top: -20px; background-color:#fff; height: 20px; border-radius: 12px 12px 0 0; 
    content: "";
    }
}
  
.bundle-status{
  text-align: center; font-size: 18px; text-transform: uppercase; margin: -5px 0 15px; font-weight: 500;
  img{
    width: 18px; display: inline-block; vertical-align: middle; margin-right: 5px;  margin-top: -3px;
  }
}
.active{
  color:#01A949;
}
.inactive{
  color: var(--theme-color-3);
}
.active-inactive{
  text-align: center; margin: 15px 0 0;
  img{
    width: 200px;
  }
}
ion-button{
  text-transform: uppercase;
  &.btn-plan{
    margin: 15px 0 0;
  }
}
.plans{
  text-align: center; margin: 25px 0 0;
  p{
    font-size: 18px; color: var(--theme-color-2);  font-weight: 500;
  }
  img{
    width: 22px; display: inline-block; vertical-align: middle; margin-right: 5px;
  }
  h5{
    margin: 12px 0; color:var(--theme-color-2); font-weight: 300;
  }
}

/**** new css updates ****/
.plan-expire{
  color: var(--theme-color-2);
  text-align: center;
  font-size: 14px;
  margin: 20px 0;
}
/*****/
  

.progress {
  width: 220px;
  height: 220px;
  overflow: visible;
  margin: 10px;
}
.progress .track, 
.progress .fill {
  stroke-width: 11;
  transform: rotate(90deg) translate(0px, -80px);
}
.progress .track {
  stroke: rgba(0,0,0,0.2);
}
.progress .fill {
  stroke-dasharray: 219.99078369140625;
  stroke-dashoffset: -219.99078369140625;
  transition: stroke-dashoffset 1s;
  stroke-linecap: round;
}
.progress .value, 
.progress .days-left {
  fill: var(--theme-color-2);
  text-anchor: middle;
}
.progress .value{ 
  font-size: 16px; font-weight: 800; 
}
.progress .days-left {
  font-size: 5px; font-weight: 500;
}
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}
linearGradient stop[offset="0%"] {
  stop-color: #01A949; 
  stop-opacity: 1;

}
linearGradient stop[offset="100%"] {
  stop-color:#F6001A; 
  stop-opacity: 1;
}


:host-context([dir="rtl"]) .topbox .d-flex {
  flex-direction: row-reverse;
}

:host-context([dir="rtl"]) ion-col[size="3"] {
  text-align: left !important;
}






/**************************************************************/
/***** iPad 11, iPad Pro, iPad mini ****/
@media only screen 
and (min-device-width: 768px) 
and (min-device-height: 1024px) 
// and (max-device-width: 1024px) 
// and (max-device-height: 1366px) 
and (-webkit-min-device-pixel-ratio: 2){



//ion-header ion-toolbar{ height: 110px;}
.topbox{ min-height: 380px; }
.container{ /*height: calc(100% - 380px);*/ }
ion-header ion-toolbar [slot="end"]{  margin-inline-end: 20px; }
.topbox h3{ margin: 0px 30px 0; font-size: 51px; line-height: 50px; }
.topbox .country{ width: 100px; height: 66px; margin-left: 16px; }
.topbox ion-row ion-col h3 {margin: 5px 0 5px -15px;  font-size: 51px;  }
.topbox h5{ margin: -5px 0 0 -15px; font-size: 39px; }

.bundle-status{ font-size: 27px;  margin: 20px 0 20px; }
.active-inactive img { width: 300px; }
.plans  p{ font-size: 27px; }
.plans h5 { margin: 14px 0; font-size: 24px; }
.progress{ width: 300px; height: 300px; }
.progress .value{ font-size: 18px; }
.progress .days-left { font-size: 6px; }


}




/**************************************************************/
/***** small devices ****/
@media only screen and (max-width : 380px) {


.topbox h3{ font-size: 32px; }
.topbox  ion-row ion-col  h3 { font-size: 34px; }
.topbox h5 { font-size: 24px; }
.container-wrapper { padding: 10px 20px 20px; }
ion-content::after { height: 70px; }

}
