<ion-header>
  <ion-toolbar>
    <!-- <ion-title>Create Account</ion-title> -->
    <ion-buttons slot="end" (click)="gotoBack()">
      <ion-button fill="clear"><i class="far fa-times"></i></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div>
    <h1>
      OTP
    </h1>
    <h5>
      Enter the four-digit OTP you received in your email.
    </h5>
    <ion-list>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-input type="tel" [(ngModel)]="num1" placeholder="*" #otp1  maxLength="1" (keyup)="otpChange($event,otp2,'')"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-input type="tel"   [(ngModel)]="num2"   #otp2  maxLength="1" (keyup)="otpChange($event,otp3,otp1)" placeholder="*" ></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-input type="tel" [(ngModel)]="num3" #otp3  maxLength="1" (keyup)="otpChange($event,otp4,otp2)" placeholder="*"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-input type="tel"  [(ngModel)]="num4"  #otp4   maxLength="1" (keyup)="otpChange($event,'',otp3)" placeholder="*"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      
    </ion-list>
    <div class="btn-view-bundle" (click) ="submit()">
      <ion-button expand="block">
        Send
      </ion-button>
    </div>
  </div>
</ion-content>