<ion-content class="ion-padding" [fullscreen]="true">

  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-button fill="clear" (click)="gotoBack()">
          <ion-icon name="arrow-back-circle-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <div class="topspace">&nbsp;</div>
  <h3 class="text-center">
    Oops, this device <br> doesn't do <br> eSIMs
  </h3>
 <p class="text-center">
    But hey, don’t feel left out—we’ve got a <br> workaround! You can still grab one of our internet <br> bundles and share it with a friendlier, more <br> bundles and share it with a friendlier, more eSIM-savvy device. Sharing is caring, after all!
  </p>
  <ion-button expand="block" fill="outline" (click)="gotoHomeSearch()">
    Choose an internet plan
  </ion-button>

</ion-content>