<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="closePopover()">
        <i class="far fa-times"></i>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- <div class="tr-logo-1">
    <img src="assets/img/tr-logo-2.png" alt="">
  </div> -->

  <div class="iccid">
    <div class="label">
      ICCID:
    </div>
    <div class="input">
      <ion-input [(ngModel)]="iccid" disabled></ion-input>
    </div>
    <div class="btn-copy">
      <ion-button fill="clear" (click)="copyICCID()">
        <ion-icon name="copy"></ion-icon>
      </ion-button>
    </div>
  </div>

  <div class="qrcode">
    <ion-label>QR Code:</ion-label>
    <div class="code">      
      <img [src]="qrCodeUrl" alt="QR Code">
    </div>
  </div>

  <div class="btn-download">
    <ion-button shape="round" (click)="downloadQrCode()">
     <ion-icon name="download-outline"></ion-icon> Download QR code
    </ion-button>
    <!--<ion-button shape="round" (click)="openCamera()">
      <ion-icon name="camera-outline"></ion-icon> Scan QR
    </ion-button> -->
  </div>

</ion-content>