<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <img class="ftel-logo" src="assets/img/L2-logobranded.png" alt="">
    </ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="gotoBack()">
        <ion-icon name="arrow-back-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar class="titlebar">
    <ion-title>
      <h3>
        {{ 'TITLE_NOTIFICATIONS' | translate }}
      </h3>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="no-record" *ngIf="notificationlist.length == 0">
    <img src="assets/img/no-notification.png" alt="">
    <p [innerHTML]="'NO_NOTIFICATIONS' | translate"></p>
  </div>

  <ion-row class="note-item" *ngFor="let notiItem of notificationlist; let i = index">
    <ion-col size="9">
      <h4>{{ notiItem.notification.title }}</h4>
      <p [innerHTML]="notiItem.notification.description"></p>
    </ion-col>
    <ion-col size="3" class="text-right">
      <span class="date">{{ modifyDate(notiItem.notification.created_at) }}</span>
    </ion-col>
  </ion-row>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <div class="tabmenu">
      <ion-button (click)="gotoHomeSearch()">
        <img class="normal" src="assets/img/icons/location.png" alt="">
        <img class="active" src="assets/img/icons/location-yellow.png" alt="">
      </ion-button>

      <ion-button (click)="gotoTab1()">
        <img class="normal" src="assets/img/icons/scan.png" alt="">
        <img class="active" src="assets/img/icons/scan-yellow.png" alt="">
      </ion-button>

      <ion-button (click)="gotoMarketPlace()">
        <img class="normal" src="assets/img/icons/shop.png" alt="">
        <img class="active" src="assets/img/icons/shop-yellow.png" alt="">
      </ion-button>

      <ion-button (click)="gotoTab5()" class="selected">
        <img class="normal" src="assets/img/icons/user.png" alt="">
        <img class="active" src="assets/img/icons/user-yellow.png" alt="">
      </ion-button>      
    </div>
  </ion-toolbar>
</ion-footer>
