<ion-header>
  <ion-toolbar>
    <div class="is-column">
      <ion-buttons slot="end">
        <ion-button fill="clear" (click)="gotoBack()">
          <ion-icon name="arrow-back-circle-outline"></ion-icon>
          <!-- <img src="assets/img/cross.png" alt=""> -->
        </ion-button>
      </ion-buttons>
      <ion-title>
        <img class="ftel-logo" src="assets/img/L2-logobranded.svg" alt="">
      </ion-title>
    </div>
  </ion-toolbar>
  <ion-toolbar class="titlebar">
    <ion-title>
      <h3 class="is-color-title">{{ title }}</h3>
       <p class="is-color-title">{{subTitle}}</p>
    </ion-title>
  </ion-toolbar>
</ion-header>