<ion-content [fullscreen]="true" class="ion-padding">

  <ion-header>
    <ion-toolbar>
      <ion-title></ion-title>
      <ion-buttons slot="end">
        <ion-button fill="clear" (click)="gotoBack()">
          <ion-icon name="close-circle-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <div class="topspace">&nbsp;</div>
  <h3 class="text-center">
    {{ 'PASSWORD_RESET_CONFIRMATION_TITLE' | translate }}
  </h3>
  <p class="text-center">
    {{ 'PASSWORD_RESET_CONFIRMATION_MESSAGE' | translate }}
  </p>
  
</ion-content>