<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Plan</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  
  <div class="tr-logo-1">
    <img src="assets/img/tr-logo-1.png" alt="">
  </div>

  <div class="plan-circle">
    <img src="assets/img/plane-cloud.png" alt="">
    <h1>
      1 GB
    </h1>
    <h2>
      €1.20 / $1.50/ <br>
      £1,80/ AU$2.80
    </h2>
  </div>

  <div class="airport">
    <img src="assets/img/airport.png" alt="">
  </div>
</ion-content>
