<ion-content>
  <ion-datetime locale="{{localLang}}"
   displayFormat="MMM/YYYY"
   pickerFormat="MMM YYYY"
   [min]="minDate"
   [max]="2080-12-01"
   [preferWheel]="true"
    [(ngModel)]="selectedDate"
    presentation="month-year"
  ></ion-datetime>

  <div class="brnrow">
    <ion-button class="close" (click)="close()" fill="outline">{{ 'CLOSE_BUTTON' | translate }}</ion-button>
    <ion-button class="done btn-green" (click)="dismiss()"> {{ 'DONE_BUTTON' | translate }}</ion-button>
  </div>
</ion-content>
