<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <img class="normal" src="assets/img/icons/home.png" alt="">
      <img class="active" src="assets/img/icons/home-active.png" alt="">
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <img class="normal" src="assets/img/icons/bundle.png" alt="">
      <img class="active" src="assets/img/icons/bundle-active.png" alt="">
      <ion-label>Bundle</ion-label>
    </ion-tab-button>

    <!--<ion-tab-button tab="tab3">
      <img class="normal" src="assets/img/icons/shop.png" alt="">
      <img class="active" src="assets/img/icons/shop-active.png" alt="">
      <ion-label>Shop</ion-label>
    </ion-tab-button> -->

    <ion-tab-button tab="tab4">
      <img class="normal" src="assets/img/icons/payment.png" alt="">
      <img class="active" src="assets/img/icons/payment-active.png" alt="">
      <ion-label>Payment</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab5">
      <img class="normal" src="assets/img/icons/more.png" alt="">
      <img class="active" src="assets/img/icons/more-active.png" alt="">
      <ion-label>More</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
