<ion-header>
  <ion-toolbar>
    <ion-title>
      <img class="tr-logo" src="assets/img/tr-logo-1.png" alt="">
    </ion-title>
    <span slot="end" class="bell" *ngIf="isLogin && notiCount == 0" (click)="gotoNoti()">
      <img src="assets/img/icons/bell-white.png" alt="">
    </span>
    <span slot="end" class="bell" *ngIf="isLogin && notiCount> 0" (click)="gotoNoti()">
      <img src="assets/img/icons/bell-white.png" alt="">
      <span class="notification">{{notiCount}}</span> 
    </span>
  </ion-toolbar>
</ion-header>
<ion-content>

<ion-content>  
  <div class="contentmiddle">

    <ion-row>
      <ion-col size="9">
        <h3>Currency Settings</h3>
      </ion-col>
      <ion-col size="3" class="right close">
        <ion-button fill="clear" (click)="gotoBack()">
          <i class="far fa-times"></i>
        </ion-button>
      </ion-col>
    </ion-row>

    <h2 class="selected-currency">
      Selected Currency
    </h2>

    <ion-item lines="none" *ngIf="selectedCurrency == 'USD'" (click)="gotoselectCurrency()">
      <span slot="start" class="currency">USD</span>
      <ion-label>
        US Dollar - $
      </ion-label>
      <span slot="end">
        <ion-icon name="chevron-down-outline"></ion-icon>
      </span>
    </ion-item>
    <ion-item lines="none"  *ngIf="selectedCurrency == 'GBP'" (click)="gotoselectCurrency()">
      <span slot="start" class="currency">GBP</span>
      <ion-label>
        Great Britain Pound - £
      </ion-label>
      <span slot="end">
        <ion-icon name="chevron-down-outline"></ion-icon>
      </span>
    </ion-item>

    <ion-item lines="none"  *ngIf="selectedCurrency == 'EUR'" (click)="gotoselectCurrency()">
      <span slot="start" class="currency">EURO</span>
      <ion-label>
        Euro - €
      </ion-label>
      <span slot="end">
        <ion-icon name="chevron-down-outline"></ion-icon>
      </span>
    </ion-item>

  </div>
</ion-content>
