<ion-content [fullscreen]="true">

  <div class="topbox">&nbsp;    
  </div>

  <div class="content-wrapper ion-padding">

    <h3 class="text-center">
      Success
    </h3>
    <p>
      Your credit has been added successfully. You can use it purchase eSIMs and more. 
    </p>

    <div class="planrow">
      <div>
        <img src="assets/img/icons/location-white.png" alt="">
        <ion-chip>£5</ion-chip>
      </div>
    </div>

    <ion-button expand="block" class="plans" fill="outline">
      <img src="assets/img/icons/user.png" alt=""> Go to my account
    </ion-button>

  </div>

</ion-content>