<ion-header>
  <ion-toolbar>
    <ion-title >
      <h3>{{ 'splitPayment' | translate }}</h3>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="closePopover()">
        <ion-icon name="arrow-back-circle-outline"></ion-icon> 
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="content">

  <div class="splitpaymentbox">
  <div class="amountrow">
    <span>{{ 'totalAmount' | translate }}</span>
    <span class="price">
      <!-- LYD -->
      <ng-container *ngIf="currencyCode === 'LYD'; else otherCurrencyTotal">
        <ng-container *ngIf="lang === 'ar'; else lydEnTotal">
          {{ splitObj.total_amount }} د.ل
        </ng-container>
        <ng-template #lydEnTotal>
          LYD&nbsp;{{ splitObj.total_amount }}
        </ng-template>
      </ng-container>

      <!-- Other currencies -->
      <ng-template #otherCurrencyTotal>
        {{ splitObj.total_amount | currency:currencyCode }}
      </ng-template>
    </span>
  </div>

  <div class="amountrow">
    <span>{{ 'walletBalance' | translate }}</span>
    <span class="price">
      - 
      <!-- LYD -->
      <ng-container *ngIf="currencyCode === 'LYD'; else otherCurrencyWallet">
        <ng-container *ngIf="lang === 'ar'; else lydEnWallet">
          {{ splitObj.wallet_amount }} د.ل
        </ng-container>
        <ng-template #lydEnWallet>
          LYD&nbsp;{{ splitObj.wallet_amount }}
        </ng-template>
      </ng-container>

      <!-- Other currencies -->
      <ng-template #otherCurrencyWallet>
        {{ splitObj.wallet_amount | currency:currencyCode }}
      </ng-template>
    </span>
  </div>

  <div class="amountrow remaining">
    <span>{{ 'remainingToPay' | translate }}</span>
    <span class="price">
      <!-- LYD -->
      <ng-container *ngIf="currencyCode === 'LYD'; else otherCurrencyRemaining">
        <ng-container *ngIf="lang === 'ar'; else lydEnRemaining">
          {{ splitObj.amt_from_other_payment }} د.ل
        </ng-container>
        <ng-template #lydEnRemaining>
          LYD&nbsp;{{ splitObj.amt_from_other_payment }}
        </ng-template>
      </ng-container>

      <!-- Other currencies -->
      <ng-template #otherCurrencyRemaining>
        {{ splitObj.amt_from_other_payment | currency:currencyCode }}
      </ng-template>
    </span>
  </div>
</div>


    <p class="select-method">
      {{ 'selectPaymentMethodForRemaining' | translate }}
    </p>

    <div class="cardoption">
      <ion-radio-group [(ngModel)]="selectedPaymentType" (ionChange)="onPaymentTypeChange($event)">
        <ion-radio [value]="'apple-pay'">
          <img src="assets/img/applepay-dark.png" alt="">{{ 'Apple Pay' }}
        </ion-radio>
        <ion-radio [value]="'credit-debit'">
          <img src="assets/img/credit-card-dark.png" alt="">{{ 'CREDIT_DEBIT' | translate }}
        </ion-radio>
      </ion-radio-group>

      <div class="card-slider" *ngIf="selectedPaymentType === 'credit-debit' && cardList.length > 0">
        <swiper-container (slidechange)="swiperSlideChanged($event)" [freeMode]="true" [loop]="false"
          [pagination]="true">
          <swiper-slide>
            <ion-card *ngFor="let cardItem of cardList; let i = index" (click)="cartOpt(i, cardItem)">
              <div class="innerrow">
                <div class="left">
                  <img *ngIf="cardItem.brand == 'Visa'" src="assets/img/visa.png" alt="">
                  <img *ngIf="cardItem.brand == 'MasterCard'" src="assets/img/mastercard.png" alt="">
                </div>
                <div class="right">
                  <ion-radio-group [ngClass]="selectedCards[i] ? 'selectedRadioCard' : ''"
                    [(ngModel)]="selectedCards[i]">
                    <ion-radio [value]="true"></ion-radio>
                  </ion-radio-group>
                </div>
              </div>
              <div class="innerrow rownumber">
                <div class="left"><small>{{ 'CARD_NUMBER' | translate }}</small></div>
              </div>
              <div class="innerrow">
                <div class="left star">
                  <span>****</span> &nbsp; <span>****</span> &nbsp; <span>****</span>
                </div>
                <div class="right star">
                  <span class="number">{{ cardItem.last_four }}</span>
                </div>
              </div>
              <div class="innerrow">
                <div class="left">
                  <ion-row>
                    <ion-col size="3"><small>{{ 'VALID_THRU' | translate }}</small></ion-col>
                    <ion-col size="3"><small>**</small><small>/</small><small>**</small></ion-col>
                  </ion-row>
                </div>
                <div class="right">
                </div>
              </div>
              <div class="innerrow rowholder">
                <div class="left">
                  <span class="holdername">{{ cardItem.first_name }}</span>
                </div>
                <div class="right">
                  <img src="assets/img/chip.png" class="cardchip" alt="">
                </div>
              </div>
            </ion-card>
          </swiper-slide>
        </swiper-container>
      </div>


  </div>

</div>
  <ion-button expand="block" class="btn-green btn-payment" (click)="paySplitPayment()">
    {{ 'PAY_NOW' | translate }}
  </ion-button>


</ion-content>
