<ion-content [fullscreen]="true">

  <ion-header>
    <ion-toolbar>
      <ion-title>
        <h3 [innerHTML]="'ACTIVATE_TITLE' | translate">
        </h3>
      </ion-title>
      <ion-buttons slot="end">
        <ion-button fill="clear" (click)="gotoBack()">
          <ion-icon name="arrow-back-circle-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>

    <ion-toolbar class="textbar">
      <p>
        {{ 'ACTIVATE_INFO_MESSAGE' | translate }}
      </p>
    </ion-toolbar>

    <ion-toolbar class="segmentbar">
      <ion-segment value="install" [(ngModel)]="selectedSegment">
       <ion-segment-button value="install">
        <ion-label> {{ 'DIRECT_INSTALL_LABEL' | translate }} </ion-label>
      </ion-segment-button> 
        <ion-segment-button value="qrcode">
          <ion-label> {{ 'QR_CODE' | translate }} </ion-label>
        </ion-segment-button>
        <ion-segment-button value="manual">
          <ion-label> {{ 'MANUAL' | translate }} </ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </ion-header>


<div class="ion-padding">
  <div class="segment-panel" [ngSwitch]="selectedSegment">

    <div *ngSwitchCase="'install'">

      <h4>{{ 'ESIM_INSTALL_STEP1_TITLE' | translate }}</h4>

      <p>{{ 'ESIM_INSTALL_NOTE' | translate }}</p>

      <p>{{ 'ESIM_INSTALL_TAP_BUTTON' | translate }}</p>

      <ion-button (click)="directInstallOption()" expand="block" class="btn-green">
        {{ 'INSTALL_ESIM_BUTTON' | translate }}
      </ion-button>

      <ion-card class="create-apn">
        <p>
          <strong>{{ 'WARNING' | translate }}</strong>
          {{ 'ESIM_INSTALL_WARNING' | translate }}
        </p>
      </ion-card>

      <h6 style="margin-top:20px;">
        {{ 'ESIM_INSTALL_AFTER_TAP' | translate }}
      </h6>

      <p>{{ 'ESIM_INSTALL_STEP1' | translate }}</p>
      <p>{{ 'ESIM_INSTALL_STEP2' | translate }}</p>
      <p>{{ 'ESIM_INSTALL_STEP3' | translate }}</p>
      <p>{{ 'ESIM_INSTALL_STEP4' | translate }}</p>

      <br>

      <h4>{{ 'ESIM_ENABLE_DATA_TITLE' | translate }}</h4>

      <h6>{{ 'ESIM_ENABLE_AFTER_INSTALL' | translate }}</h6>

      <p>{{ 'ESIM_ENABLE_STEP1' | translate }}</p>
      <p>{{ 'ESIM_ENABLE_STEP2' | translate }}</p>
      <p>{{ 'ESIM_ENABLE_STEP3' | translate }}</p>
      <p>{{ 'ESIM_ENABLE_STEP4' | translate }}</p>
      <p>{{ 'ESIM_ENABLE_STEP5' | translate }}</p>

    </div>

        <div *ngSwitchCase="'qrcode'">


        <p class="qrlink">
          <a> {{ 'CLICK_TO_SHARE_QR' | translate }} </a>
        </p>
        <div class="qrcode" (click)="sharewithall()">
          <img [src]="qrCodeImage" alt="eSIM QR Code">
        </div>

        <h4>
          {{ 'INSTALL_ESIM_QRCODE_TITLE' | translate }}
        </h4>
        <p>
          {{ 'INSTALL_ESIM_QRCODE_DESCRIPTION' | translate }}
        </p>

        <h6>
          {{ 'SHARE_QR_CODE_TITLE' | translate }}
        </h6>
        <p>
          1. {{ 'QR_CODE_INSTRUCTIONS_1' | translate }}
        </p>
        <p>
          2. {{ 'QR_CODE_INSTRUCTIONS_2' | translate }}
        </p>
        <p>
          3. {{ 'QR_CODE_INSTRUCTIONS_3' | translate }}
        </p>
        <p>
          4. {{ 'QR_CODE_INSTRUCTIONS_4' | translate }}
        </p>
        <p>
          5. {{ 'QR_CODE_INSTRUCTIONS_5' | translate }}
        </p>

      </div>

      <div *ngSwitchCase="'manual'">

        <h4>
          {{ 'INSTALL_ESIM_MANUAL_TITLE' | translate }}
        </h4>

        <ion-card class="card-manual">
          <ion-row>
            <ion-col size="9">
              <span>{{ 'SM_DP_ADDRESS_ACTIVATION_CODE' | translate }}</span> <br>
              LPA:1${{sharingData.smdpAddress}}${{sharingData.matchingId}}
            </ion-col>
            <ion-col size="3" class="text-right" (click)="copyAddress()">
              <ion-icon name="copy-outline"></ion-icon>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="text-center information">
              <p>
                {{ 'INSTALL_ESIM_MANUAL_DESCRIPTION' | translate }}
              </p>
            </ion-col>
          </ion-row>
        </ion-card>

        <p>
          1. {{ 'MANUAL_INSTALL_STEP_1' | translate }}
        </p>
        <p>
          2. {{ 'MANUAL_INSTALL_STEP_2' | translate }}
        </p>
        <p>
          3. {{ 'MANUAL_INSTALL_STEP_3' | translate }}
        </p>
        <p>
          4. {{ 'MANUAL_INSTALL_STEP_4' | translate }}
        </p>
        <p>
          5. {{ 'MANUAL_INSTALL_STEP_5' | translate }}
        </p>

      </div>

    </div>
  </div>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <div class="tabmenu">
      <ion-button (click)="gotoHomeSearch()">
        <img class="normal" src="assets/img/icons/location.png" alt="">
        <img class="active" src="assets/img/icons/location-yellow.png" alt="">
      </ion-button>

      <ion-button (click)="gotoTab1()" class="selected">
        <img class="normal" src="assets/img/icons/scan.png" alt="">
        <img class="active" src="assets/img/icons/scan-yellow.png" alt="">
      </ion-button>

      <ion-button (click)="gotoMarketPlace()">
        <img class="normal" src="assets/img/icons/shop.png" alt="">
        <img class="active" src="assets/img/icons/shop-yellow.png" alt="">
      </ion-button>

      <ion-button (click)="gotoTab5()">
        <img class="normal" src="assets/img/icons/user.png" alt="">
        <img class="active" src="assets/img/icons/user-yellow.png" alt="">
      </ion-button>      
    </div>

  </ion-toolbar>
</ion-footer>
