<ion-content [fullscreen]="true">

  <ion-header>
    <ion-toolbar>
      <ion-title>
        <img class="ftel-logo" src="assets/img/L2-logobranded.png" alt="">
      </ion-title>
      <ion-buttons slot="end">
        <ion-buttons slot="end">
          <ion-button fill="clear" (click)="gotoBack()">
            <ion-icon name="arrow-back-circle-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-buttons>
    </ion-toolbar>
    <ion-toolbar class="titlebar">
      <ion-title>
        <h3>
          {{ 'FREQUENTLY_ASKED_QUESTIONS' | translate }}
        </h3>
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ion-padding">

    <ion-accordion-group *ngFor="let faqItem of faqList ; let i = index">
      <div class="categoriesTitle">{{faqItem.name}}</div>
      <div  *ngFor="let items of faqItem.faqquestions; let j = index">
        <ion-accordion>
          <ion-item lines="none" slot="header" color="light">
            <ion-label>{{items.question}}</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <p [innerHTML]="items.content ">
            </p>
          </div>
        </ion-accordion>
      </div>
    </ion-accordion-group>

  </div>

</ion-content>


<ion-footer>
  <ion-toolbar>
    <div class="tabmenu">
      <ion-button (click)="gotoHomeSearch()">
        <img class="normal" src="assets/img/icons/location.png" alt="">
        <img class="active" src="assets/img/icons/location-yellow.png" alt="">
      </ion-button>

      <ion-button (click)="gotoTab1()">
        <img class="normal" src="assets/img/icons/scan.png" alt="">
        <img class="active" src="assets/img/icons/scan-yellow.png" alt="">
      </ion-button>

      <ion-button (click)="gotoMarketPlace()">
        <img class="normal" src="assets/img/icons/shop.png" alt="">
        <img class="active" src="assets/img/icons/shop-yellow.png" alt="">
      </ion-button>

      <ion-button (click)="gotoTab5()" class="selected">
        <img class="normal" src="assets/img/icons/user.png" alt="">
        <img class="active" src="assets/img/icons/user-yellow.png" alt="">
      </ion-button>      
    </div>
  </ion-toolbar>
</ion-footer>