<ion-content [fullscreen]="true">

  <div class="topbox">

    <ion-header>
      <ion-toolbar>
        <ion-title>
        </ion-title>
        <ion-buttons slot="end">
          <ion-button fill="clear">
            <ion-icon name="close-circle-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

  </div>

  <div class="content-wrapper ion-padding">

    <h3 class="text-center">
      Referral code
    </h3>
    <p>
      Sharing is caring!  We’re pleased you decided to join us, pop your referral code below and we’ll make sure you
      both get your credit.
    </p>

    <ion-item>
      <ion-input type="text" placeholder="Enter code"></ion-input>
    </ion-item>

    <ion-button expand="block" class="btn-green btn-go">
      Confirm
    </ion-button>


    <!--<ion-button expand="block" class="skip" fill="outline" (click)="skip()">
      {{'SKIP' | translate}}
    </ion-button> -->

  </div>

</ion-content>