/*This is old travel roam page*/
ion-header ion-toolbar {
  --background:#d8322b;
}
ion-header ion-toolbar.ios {
  --min-height:70px;
}
ion-header ion-toolbar ion-title {
  padding-inline: 20px;
  text-align: left;
}
ion-header ion-toolbar ion-title .tr-logo {
  width: 190px;
  margin: 15px 10px 5px;
}
ion-header ion-toolbar [slot=end] {
  margin-inline-end: 25px;
}
ion-header ion-toolbar ion-buttons ion-button img {
  width: 28px;
}
ion-header ion-toolbar ion-buttons ion-button span {
  position: absolute;
  right: -5px;
  top: -5px;
  z-index: 1;
  background-color: #d8322b;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
ion-header ion-toolbar ion-buttons ion-button {
  border: 1px solid #d8322b;
  --background: #d8322b;
  --color:#fff;
  border-radius: 4px;
  border: 1px solid #fdf3f3;
  display: inline-block;
  clip-path: polygon(100% 10px, 100% 100%, 0% 100%, 0% 0%, calc(100% - 10px) 0%);
  margin-inline-start: 0;
  margin-inline-end: 0;
  --box-shadow:none;
  width: 32px;
  height: 32px;
  position: relative;
  overflow: hidden;
}
ion-header ion-toolbar ion-buttons ion-button::part(native) {
  padding-inline-start: 10px;
  padding-inline-end: 10px;
}
ion-header ion-toolbar ion-buttons ion-button::after {
  width: 22px;
  height: 22px;
  right: -14px;
  top: -14px;
  content: "";
  background-color: #fdf3f3;
  position: absolute;
  z-index: 11;
  transform: rotateZ(45deg);
}

ion-content {
  --background: #d8322b;
}

.content-top {
  padding: 10px 30px 20px;
  height: 110px;
}
.content-top h3 {
  color: #fff;
  font-family: "camptonbold";
  margin: 0 0 10px;
}
.content-top p {
  color: #fff;
  margin: 0 0 0;
}

ion-row ion-col {
  padding: 0;
}

.tr-logo-1 {
  margin: 0px 0 0px;
}
.tr-logo-1 img {
  max-width: 190px;
}

.close {
  text-align: right;
}
.close ion-button {
  border: 1px solid #d8322b;
  --background: #d8322b;
  --color:#fff;
  border-radius: 4px;
  border: 1px solid #fdf3f3;
  display: inline-block;
  clip-path: polygon(100% 10px, 100% 100%, 0% 100%, 0% 0%, calc(100% - 10px) 0%);
  margin-inline-start: 0;
  margin-inline-end: 0;
  --box-shadow:none;
  width: 32px;
  height: 32px;
  position: relative;
}
.close ion-button::part(native) {
  padding-inline-start: 10px;
  padding-inline-end: 10px;
}
.close ion-button::after {
  width: 22px;
  height: 22px;
  right: -14px;
  top: -14px;
  content: "";
  background-color: #fdf3f3;
  position: absolute;
  z-index: 11;
  transform: rotateZ(45deg);
}

h3 {
  color: #fff;
  font-family: "camptonbold";
}

.contentmiddle {
  height: calc(100% - 110px);
  background-color: #fff;
  padding: 30px;
  clip-path: polygon(100% 18px, 100% 100%, 0% 100%, 0% 0%, calc(100% - 18px) 0%);
  border-radius: 6px 6px 0 0;
}

.ios .contentmiddle {
  height: calc(100% - 108px);
}

.searchcountry ion-searchbar {
  color: #111;
  --background:#fff;
  border: 1px solid #ff6969;
  --box-shadow:none;
  border-radius: 6px;
  padding-inline-start: 0;
  padding-inline-end: 0;
  padding-top: 0;
  padding-bottom: 0;
  overflow: hidden;
}

ion-segment {
  margin: 20px 0 10px;
  justify-content: start;
  --background:transparent;
  border: 1px solid #d8322b;
  border-radius: 6px;
  position: relative;
  clip-path: polygon(100% 12px, 100% 100%, 0% 100%, 0% 0%, calc(100% - 12px) 0%);
}
ion-segment ion-segment-button {
  --background:#fff;
  --background-checked:#d8322b;
  --color:#d8322b;
  --color-checked:#fff;
  --indicator-height:0;
  min-height: 36px;
  font-size: 13px;
  padding: 0 10px;
  min-width: 50%;
  margin: 0;
  --border-radius: 0;
}
ion-segment ion-segment-button ion-label {
  margin-top: 5px;
  margin-bottom: 5px;
}
ion-segment::after {
  width: 25px;
  height: 25px;
  right: -15px;
  top: -16px;
  content: "";
  background-color: #ff6969;
  position: absolute;
  z-index: 11;
  transform: rotateZ(-45deg);
}

.segment-panel {
  height: calc(100% - 82px);
  overflow-y: auto;
  margin: 0 -30px;
  padding: 0 30px;
}
.segment-panel h6 {
  color: #d8322b;
  margin: 5px 0;
}

ion-list {
  padding: 0;
  margin-top: 20px;
}
ion-list ion-item {
  --padding-start:15px;
  --inner-padding-end: 15px;
  border-radius: 6px;
  --background:#e6e7e7;
  border: 1px solid #ccc;
  box-shadow: none;
  margin: 0 0 15px;
}
ion-list ion-item ion-label {
  white-space: normal;
  color: #aaa;
}
ion-list ion-item ion-label h3 {
  font-size: 17px;
  color: #000;
}
ion-list ion-item ion-label p a {
  color: #000;
}
ion-list ion-item ion-label p a ion-icon {
  color: #d8322b;
  display: inline-block;
  vertical-align: middle;
}
ion-list ion-item [slot=start] {
  margin-inline-end: 15px;
  width: 25px;
  height: 25px;
  overflow: hidden;
  border-radius: 50%;
}
ion-list ion-item [slot=start] img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
ion-list ion-item [slot=end] {
  margin-inline-start: 15px;
  background: #d8322b;
  color: #fff;
  border-radius: 2px;
  width: 25px;
  height: 25px;
  position: relative;
  text-align: center;
  line-height: 25px;
  padding-top: 4px;
}
ion-list ion-item [slot=end] ion-icon {
  font-size: 18px;
}

ion-list.country {
  margin-top: 20px;
}
ion-list.zone {
  margin-top: 20px;
}
ion-list.zone ion-item ion-label p a {
  color: #000;
}
ion-list.zone ion-item ion-label p a ion-icon {
  color: #d8322b;
  display: inline-block;
  vertical-align: middle;
}

ion-accordion-group {
  margin-top: 20px;
}

ion-accordion {
  margin-bottom: 15px;
  background-color: #f5f5f5;
  border-radius: 6px;
}
ion-accordion ion-item {
  --padding-start:15px;
  --inner-padding-end: 15px;
  border-radius: 6px;
  --background:#e6e7e7;
  border: 1px solid #ccc;
  box-shadow: none;
}
ion-accordion ion-item ion-label {
  white-space: normal;
  color: #aaa;
}
ion-accordion ion-item ion-label h3 {
  font-size: 17px;
  color: #000;
}
ion-accordion ion-item ion-label p a {
  color: #000;
}
ion-accordion ion-item ion-label p a ion-icon {
  color: #d8322b;
  display: inline-block;
  vertical-align: middle;
}
ion-accordion ion-item [slot=start] {
  margin-inline-end: 15px;
  width: 25px;
  height: 25px;
  overflow: hidden;
  border-radius: 50%;
}
ion-accordion ion-item [slot=start] img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Adjust the height as needed */
}

/*****************************************************************************/
.no-offer {
  height: 100%;
  width: 100%;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.no-offer ion-img {
  width: 80%;
}

/******************** Skeleton */
.skeleton ion-item {
  border: 1px solid #eee;
  --background:#f5f5f5;
  border-radius: 6px;
  margin: 0 0 15px;
}

/******************* No record */
.no-record {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 100px 0;
}
.no-record h3 {
  color: #777;
  font-size: 24px;
}

/**************************************************************/
/***** iPad 11, iPad Pro, iPad mini ****//*# sourceMappingURL=tab3.page.css.map */