<ion-content [fullscreen]="true">

  <ion-header>
    <ion-toolbar>
      <ion-title>
        <h3>{{ 'Top_up' | translate }}</h3>
        <p>{{ 'Choose_how_much_credit' | translate }}</p>
      </ion-title>

      <ion-buttons slot="end">
        <ion-button fill="clear" (click)="gotoBack()">
          <ion-icon name="arrow-back-circle-outline"></ion-icon>
        </ion-button>
      </ion-buttons>

    </ion-toolbar>
  </ion-header>

  <div class="ion-padding">

    <div class="contentbox">

      <!-- ================= RADIO OPTIONS ================= -->

      <ion-radio-group [(ngModel)]="selectedAmount" (ionChange)="onRadioSelect($event)">

        <ion-radio *ngFor="let amt of topupAMTList" [value]="amt.value">

          <ng-container *ngIf="currencyCode === 'LYD'; else otherCurrencyRadio">

            <ng-container *ngIf="lang === 'ar'; else lydEnRadio">
              {{ amt.text }} د.ل
            </ng-container>

            <ng-template #lydEnRadio>
              LYD {{ amt.text }}
            </ng-template>

          </ng-container>

          <ng-template #otherCurrencyRadio>
            {{ amt.text | currency:currencyCode }}
          </ng-template>

        </ion-radio>

      </ion-radio-group>


      <!-- OR DIVIDER -->
      <div class="orbox">
        <span>{{ 'OR' | translate }}</span>
      </div>


      <!-- ================= DROPDOWN ================= -->

      <ion-list>

        <ion-item>

          <ion-select
            label="{{ 'Choose_amount' | translate }}"
            [(ngModel)]="customAmount"
            (ionChange)="onDropdownSelect()"
            [okText]="'OK_BUTTON' | translate"
            [cancelText]="'CANCEL_BUTTON' | translate"
          >

            <ion-select-option
              *ngFor="let amt of topupAMTNewList"
              [value]="amt.value"
            >

              <ng-container *ngIf="currencyCode === 'LYD'; else otherDrop">

                <ng-container *ngIf="lang === 'ar'; else lydEnDrop">
                  {{ amt.text }} د.ل
                </ng-container>

                <ng-template #lydEnDrop>
                  LYD {{ amt.text }}
                </ng-template>

              </ng-container>

              <ng-template #otherDrop>
                {{ amt.text | currency:currencyCode }}
              </ng-template>

            </ion-select-option>

          </ion-select>

        </ion-item>

      </ion-list>

    </div>


    <!-- ================= SUBMIT BUTTON ================= -->

    <ion-button expand="block" class="btn-green btn-payment" (click)="submit()">
      {{ 'TOP_UP_CREDIT' | translate }}
    </ion-button>

  </div>

</ion-content>


<!-- ================= FOOTER ================= -->

<ion-footer>

  <ion-toolbar>

    <div class="tabmenu">

      <ion-button routerLink="/home-search">
        <img class="normal" src="assets/img/icons/location.png">
        <img class="active" src="assets/img/icons/location-yellow.png">
      </ion-button>

      <ion-button (click)="gotoTab1()">
        <img class="normal" src="assets/img/icons/scan.png">
        <img class="active" src="assets/img/icons/scan-yellow.png">
      </ion-button>

      <ion-button (click)="gotoMarketPlace()">
        <img class="normal" src="assets/img/icons/shop.png">
        <img class="active" src="assets/img/icons/shop-yellow.png">
      </ion-button>

      <ion-button routerLink="/profile" class="selected">
        <img class="normal" src="assets/img/icons/user.png">
        <img class="active" src="assets/img/icons/user-yellow.png">
      </ion-button>

    </div>

  </ion-toolbar>

</ion-footer>
