<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     <h3>{{ 'HAVE_WE_MET_TITLE' | translate }}</h3>
     <p>{{ 'LOGIN_OR_CREATE_ACCOUNT_DESCRIPTION' | translate }}</p>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="gotoBack()">
        <ion-icon name="arrow-back-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  
  <div class="ftel-logo">
    <img src="assets/img/L2-Logo-vertical.png" alt="">
  </div>

  <!-- <div class="topspace">&nbsp;</div> -->

  <ion-button expand="block" class="btn-green btn-signin" (click) ="gotoLogin()">
    {{ 'SIGN_IN' | translate }}
  </ion-button>

  <div class="orbox">
    <span>{{ 'OR' | translate }}</span>
  </div>

  <ion-button expand="block" class="button-outline btn-signup" (click) ="gotoRegister()">
    {{ 'SIGN_UP' | translate }}
  </ion-button>  
  
</ion-content>


<ion-footer>
  <ion-toolbar>

    <div class="tabmenu">
      <ion-button (click)="gotoHomeSearch()"  class="selected">
        <img class="normal" src="assets/img/icons/location.png" alt="">
        <img class="active" src="assets/img/icons/location-yellow.png" alt="">
      </ion-button>

      <ion-button (click)="gotoTab1()">
        <img class="normal" src="assets/img/icons/scan.png" alt="">
        <img class="active" src="assets/img/icons/scan-yellow.png" alt="">
      </ion-button>

      <ion-button (click)="gotoMarketPlace()">
        <img class="normal" src="assets/img/icons/shop.png" alt="">
        <img class="active" src="assets/img/icons/shop-yellow.png" alt="">
      </ion-button>

      <ion-button (click)="gotoTab5()">
        <img class="normal" src="assets/img/icons/user.png" alt="">
        <img class="active" src="assets/img/icons/user-yellow.png" alt="">
      </ion-button>      
    </div>

  </ion-toolbar>
</ion-footer>
