<ion-header>
    <ion-toolbar>
        <ion-title>Add Apple <br> <small>Details</small></ion-title>
        <ion-buttons slot="end" (click)="gotoBack()">
            <ion-button fill="clear"><i class="far fa-times"></i></ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-list>
        <ion-item>
            <ion-input autocapitalize="on" type="text" [(ngModel)]="appleObj.first_name" placeholder="First name"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input type="text" [(ngModel)]="appleObj.email" placeholder="Email"></ion-input>
        </ion-item>
    </ion-list>

    <div class="btn-view-bundle">
        <ion-button expand="block" (click)="submit()">
            Submit
        </ion-button>
    </div>
</ion-content>