ion-header {
  box-shadow: none;
}
ion-header ion-toolbar {
  --background: #d8322b;
  --min-height: 60px;
}
ion-header ion-toolbar ion-title {
  text-align: left;
  font-weight: normal;
  font-size: 22px;
  line-height: 22px;
  color: #fff;
}
ion-header ion-toolbar ion-title small {
  font-size: 15px;
}
ion-header ion-toolbar ion-title.ios {
  padding-inline: 15px;
}
ion-header ion-toolbar [slot=end] {
  margin-inline-end: 5px;
}
ion-header ion-toolbar ion-buttons ion-button {
  --background: transparent;
  --color: #fff;
  border-radius: 4px;
  display: inline-block;
  margin-inline-start: 0;
  margin-inline-end: 0;
  --box-shadow: none;
  width: 32px;
  height: 32px;
  position: relative;
  overflow: hidden;
  margin-top: -15px;
}
ion-header ion-toolbar ion-buttons ion-button::part(native) {
  padding-inline-start: 10px;
  padding-inline-end: 10px;
}
.ios ion-header ion-toolbar {
  --min-height: 90px;
}

h1 {
  font-size: 32px;
  margin: 70px 14px 10px;
  text-align: center;
}

h5 {
  margin: 0 14px 10px;
  font-size: 17px;
  text-align: center;
}

p {
  margin: 0 14px 10px;
  font-size: 14px;
}

ion-list {
  margin: 0px 5px 0;
  padding: 0;
}
ion-list ion-item {
  border-radius: 6px;
  --inner-border-width: 0 0 0 0;
  margin: 0 0 15px;
  --background: #e6e7e7;
}
ion-list ion-item ion-input {
  color: #777;
}
ion-list ion-item ion-icon {
  color: #777;
  font-size: 20px;
  cursor: pointer;
}
ion-list ion-item:first-child {
  margin: 15px 0 15px;
}

a {
  font-family: "camptonbold";
  color: #d8322b;
}

.sc-ion-input-md-h:not(.legacy-input) {
  min-height: 44px;
}

.btn-view-bundle {
  margin: 0px 5px 10px;
  text-align: center;
}
.btn-view-bundle ion-button {
  display: block;
  --background: #000;
  --background-activated: #4267b2;
  --color: #fff;
  --padding-start: 20px;
  --padding-end: 20px;
}

ion-icon.eye {
  font-size: 18px;
  cursor: pointer;
}

ion-icon.close-circle {
  font-size: 18px;
  cursor: pointer;
}

.rememberpassword {
  margin: 10px 5px 0;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 12px 10px 12px 50px;
  position: relative;
  min-height: 50px;
}

ion-checkbox {
  position: absolute;
  left: 15px;
  top: 10px;
}
ion-checkbox.md {
  top: 15px;
}
ion-checkbox {
  --border-width: 1px;
  --border-color: #d8322b;
  --checkbox-background-checked: #d8322b;
  --border-color-checked: #d8322b;
  --checkmark-color: #d8322b;
  --checkmark-width: 3;
  --checkbox-background-checked: transparent;
  --border-color-checked: transparent;
}

.social {
  margin: 40px 10px 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.social a {
  width: 28%;
  display: inline-block;
  padding: 10px 10px;
  background-color: #d9d9d9;
  text-align: center;
  border-radius: 4px;
}
.social a img {
  width: 24px;
  display: inline-block;
  vertical-align: middle;
}
.social .social-btn {
  margin: 0 0 15px;
  display: block;
  padding-left: 50px;
  border-radius: 4px;
  text-align: center;
  position: relative;
  min-height: 44px;
  line-height: 44px;
  color: #fff;
  font-size: 13px;
}
.social .social-btn .socialicon {
  position: absolute;
  left: 2px;
  top: 2px;
  bottom: 2px;
  background-color: #fff;
  border-radius: 2px;
  width: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social .social-btn .socialicon img {
  width: 18px;
}
.social .google {
  background-color: #3e8bff;
}
.social .apple {
  background-color: #000;
}
.social .facebook {
  background-color: #4764cb;
}

.create-account {
  text-align: center;
}
.create-account p {
  margin: 3px 0;
}
.create-account a {
  color: #ff3b32;
}

.ion-padding {
  --padding-top: 0px;
}

/**************************************************************/
/***** iPad 11, iPad Pro, iPad mini ****//*# sourceMappingURL=apple-model.page.css.map */