.topbox{
    display: block; min-height: 45%;
}

ion-content{
    --background:rgba(17,32,66,0.5);

    &::after{
        position: fixed; z-index: -1; left: 0; right: 0; top:0; bottom: 0; content: "";
        background: url("../../assets/img/purchase-success.png") no-repeat center center / cover;
    }
}

h3{
    color: #fff; 
    font-size: 32px; 
    line-height: 40px;
    margin: 0 10px 15px;
}

p{
    color: #fff; 
    padding: 0 15px; 
    font-size: 16px; 
    margin: 25px 0 0; 
    line-height: 26px;

    strong{
        font-weight: 700;
    }
    img{
        width: 22px; 
        margin-right: 5px; 
        display: inline-block; 
        vertical-align: middle; 
        margin-top: -4px;
    }
}

ion-button{
    margin: 30px 0 15px;

    img{
        width: 22px; 
        display: inline-block; 
        margin-right: 5px; 
        margin-top: 4px;
    }

    &.plans{
        --color:#fff;
    }
    
}
ion-button{
    &.button-outline {
    --color: #fff;
    --border-color: #fff;
    }
}







/**************************************************************/
/***** iPad 11, iPad Pro, iPad mini ****/
@media only screen 
and (min-device-width: 768px) 
and (min-device-height: 1024px) 
// and (max-device-width: 1024px) 
// and (max-device-height: 1366px) 
and (-webkit-min-device-pixel-ratio: 2){

    .topbox{
        min-height: 50%;
    }
      
    h3 { font-size: 48px; line-height: 60px;  }
    
    p{
        margin: 30px 0 0px; font-size: 22px; line-height: 36px;
        img{ width: 32px; }
    }

    ion-button{
        margin: 40px 0 20px;
        img{
            width: 35px; margin-right: 10px;
        }
    }




}