<ion-content class="ion-padding" [fullscreen]="true">
  
  <div class="topbox">&nbsp;</div>

  <h3 class="ion-text-center">
    Great news! Your purchase went through.
  </h3>

  <p class="ion-text-center">
    <img src="assets/img/cashback-white.png" alt=""> <strong>10% cashback successful</strong><br>
    We've just added $1.40 to your account
  </p>

  <ion-button expand="block" class="plans" fill="outline">
    <img src="assets/img/icons/location-white.png" alt=""> Go to my internet plans
  </ion-button>

</ion-content>

