.message-container {
  font-size: 15px;
  color: #000;
  margin: 10px 20px 0;
  text-align: center;
  p{
    color: #000;
  }
}
 
.qr-loading{
  text-align: center;
  padding: 15px 10px 0px;
  img{
    width: 160px;
  }
}  