<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="closePopover(false)">
        <i class="far fa-times"></i>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="page-padding">
    <h3>Enable Push Notifications</h3>
    <p>
      To enhance your experience and keep you in the loop about exciting promotions, special offers, and important alerts about your data usage, we recommend enabling push notifications.
    </p>

    <div class="btn-row">
      <ion-button class="ok" (click)="closePopover(true)"> Yes </ion-button>
      <ion-button class="cancel" (click)="closePopover(false)"> No </ion-button>      
    </div>
  </div>
</ion-content>