
.topbox{
    width: 100%;
    height: 330px;
    height: 50%;
    // background-color:rgba(17,32,66,0.5);
    position: relative;

    &::before{
        position: absolute; 
        z-index: -1; 
        left: 0; 
        top: 0px; 
        width: 100%; 
        height: 100%; 
        background: url("../../assets/img/signup-social-refer.png") no-repeat center center / cover;  
        content: "";
    }

    img{
      width: 100%; height: 100%; object-fit: cover; 
    }
}
.container{ 
    position: relative; 
    color: var(--theme-color-2); 
    padding: 0px 20px 20px;

    &::after{
    position: absolute; z-index: 111; left: 0; right: 0; top: -20px; background-color: #fff; height: 20px; border-radius: 12px 12px 0 0; 
    content: "";
    }
}
h3{ 
    margin: 0px 0 0; 
    font-family: 'Roboto'; 
    font-weight: 600; 
    font-size: 30px;
    color: var(--theme-color-2); 
}
p{
    margin: 15px 0; 
    font-size: 15px; 
    line-height: 22px;
    color: var(--theme-color-2); 
}

ion-button{  
    &.btn-deal{
    --padding-start:20px;
    --padding-end:20px;
    margin: 30px 0px 10px;
    } 

    &.button-outline {

    }
}
ion-content {
  --background:#fff;
}








/**************************************************************/
/***** iPad 11, iPad Pro, iPad mini ****/
@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (min-device-height: 1024px) 
and (max-device-height: 1366px) 
and (-webkit-min-device-pixel-ratio: 2){

    .container { 
        padding: 20px 30px; 
    }
    h3 { 
        margin: 0px 0 0;  
        font-size: 45px; 
    }
    p { 
        margin: 18px 0; 
        font-size: 21px; 
        line-height: 25px; 
        color: #fff;
    }
    ion-button{  
        &.btn-deal{
        margin: 30px 0px 20px;
        } 
    }




}