
/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

@import "assets/font/stylesheet.css";
@import "assets/fontawesome/fontawesome5-pro-paid.min.css";

// @import "~animate.css/animate.css";

html.md {
  --ion-default-font: 'Roboto';
}
html.ios {
  --ion-default-font: 'Roboto';
}
body {
  font-family: 'Roboto'; font-weight: 400;
}

a { text-decoration: none; color: var(--theme-color-2); }
p{ font-size: 15px; color:var(--theme-color-2); }
h3{ font-family: 'Roboto'; font-weight: 700; color: var(--theme-color-2); }

.text-center  { text-align: center;}
.text-left    { text-align: left;}
.text-right   { text-align: right;}

.ion-padding  { --padding-start:20px; --padding-end:20px; }

.roboto   { font-family: 'Roboto'; }
.roboto100{ font-family: 'Roboto'; font-weight: 100; }
.roboto300{ font-family: 'Roboto'; font-weight: 300; }
.roboto400{ font-family: 'Roboto'; font-weight: 400; }
.roboto700{ font-family: 'Roboto'; font-weight: 700; }
.roboto900{ font-family: 'Roboto'; font-weight: 900; }


/****************************/

ion-header {
  box-shadow: none;
  ion-toolbar {
    --background:#fff; 
    --min-height:120px;
      // height: 120px;

      &.ios{ 
          --min-height:150px;
          height: 120px;
          padding-inline:25px; 
          margin-top:10px; 
          line-height: 26px;
      }

      ion-title{
          color: #fff; text-align: left; 
          h3{
            margin: 0 0 0; font-family: 'Roboto'; font-weight: 700; font-size: 32px; line-height: 36px; white-space: normal;
            color: var(--theme-color-2);
          }
          p{
            margin: 0 0 0; font-size: 16px; font-family: 'Roboto'; font-weight: 400; white-space: normal;
            color: var(--theme-color-2);
          }
      }

      ion-buttons{
          ion-button{
              font-size:22px; 
              color: var(--theme-color-1); 
              display: inline-block;                

              &.button-clear {
                  --color: #fff;
              }                    
              &.ios{ 
                  margin-top:-5px; 
              }    
          }
          ion-back-button {
              color: #fff;
          }
      }
      .sc-ion-buttons-md-s ion-button{
        min-height:44px;
      }
    
  }

  &.header-md {
    box-shadow: none;
  }
}

ion-header{
  ion-toolbar{
    ion-title{
      h3{ 
        font-size: 25px; line-height: 34px;    //language
      }
    }
  }
}

.header-ios ion-toolbar:last-of-type {
  --border-width: 0 0 0px;
}

ion-checkbox{
  // font-family: 'Inter'; 
  font-weight: 300;
  font-family: 'Roboto';
}

/*****************************/

ion-content {
  --background:var(--theme-content-bg);
  &::part(scroll) {
    overscroll-behavior: none;
  }
}


ion-button {
  --border-radius: 12px;
  text-transform: none;
  font-size: 18px;
  height: 56px;
  letter-spacing: 0;
  --box-shadow:none;
  font-family: 'Roboto';
  font-weight: 700;
  white-space: normal;

  &.btn-green{
      --background: var(--button-primary-bg);
      --background-activated: var(--button-primary-bg);
      --background-hover: var(--button-primary-bg);
      --color:var(--button-main-text);
  }

  &.btn-gray{
     --color: #fff;
      --background: var(--button-primary-bg);
      --background-activated: var(--button-primary-bg);
  }

  &.btn-white{
    --background:#fff;
    --background-activated:#fff;
    --background-hover:#fff;
    --color:var(--theme-color-1);
  }

  &.btn-secondary{
    --background:var(--button-secondary-bg);
    --background-activated:var(--button-secondary-bg);
    --background-hover:var(--button-secondary-bg);
    --color:var(--button-secondary-text);
  }

  &.button-outline{
      --background:var(--color-white);
      --background-activated:var(--color-white);
      --color:var(--theme-color-3);
      --border-color:var( --border-color);
      --border-width: 1px;
  }
  &::part(native){
  }
}
ion-item{ 
  border-radius: 8px;
}
ion-input{
  font-weight: 300; 
}
.sc-ion-input-md-h:not(.legacy-input){
  min-height: 46px;
}
.sc-ion-input-md-h{ 
  font-family: 'Roboto'; 
  font-weight: 300;
  --placeholder-opacity:0.6;
}
ion-textarea{
  font-family: 'Roboto'; 
  font-weight: 300;
}
.sc-ion-textarea-md-h {
  --padding-top:12px;
}
ion-select{
  &::part(icon){ color: var(--theme-color-3); }
}

/*************************************/
.my-custom-class {
  &::part(content) {
    height: 75%;
    width: 85%;
    --border-radius: 10px;
  }
}



/************************************ Footer css */
ion-footer {
  ion-toolbar {
      --background: rgba(13,13,32,0.9);
      --min-height: 60px;

      .tabmenu {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          padding: 5px 25px;
          border-radius: 12px 12px 0 0;
          --min-height: 60px;
          // background: var(--theme-footer-bg);
          background: rgba(13,13,32,0.9);
	        position: relative;
  
          ion-button {
              --padding-start: 10px;
              --padding-end: 10px;
              --background: transparent;
              position: relative;
              --box-shadow: none;
              height: 50px; 
              margin: 0 0;   
              &::part(native) {
                  flex-direction: row;
              }
      
              img { /*width: 18px;*/ height: 26px; }      
              img.normal { display: inline-block; }
              img.active { display: none; }
      
              &.selected {      
                  img.normal { display: none; }      
                  img.active { display: inline-block; }
              }
      
              &.middle{
                  // img{ width: 34px; }
              }
      
          }
          &::before{
            position: absolute; z-index: -1; top: 0; right: 0; bottom: 0; left: 0; content: ""; background-color: var(--theme-content-bg); 
          }
      }  
    &::before{
            position: absolute; z-index: -1; top: 0; right: 0; bottom: 0; left: 0; content: ""; background-color: var(--theme-content-bg); 
          }
  }

  &.footer-md {
    box-shadow: none;
  }
}

.footer-ios ion-toolbar:first-of-type {
  --border-width: 0px 0 0;
}

ion-footer .footer-toolbar-padding ion-toolbar:last-of-type {
  padding-bottom: 16px;
}

.countrySearch{
    .searchbar-input.sc-ion-searchbar-md {
        border: none;
        font-weight: 300;
    }
}

.socialCountry{
  .searchbar-input.sc-ion-searchbar-md{
    color: #000;
  }
  .searchbar-search-icon.sc-ion-searchbar-md {
    color: #000;
  }
  .searchbar-has-value.searchbar-should-show-clear.sc-ion-searchbar-md-h .searchbar-clear-button.sc-ion-searchbar-md {
    color: #000;
  }
}


/*************************** Alert css*/

.alert-wrapper.sc-ion-alert-md {
  border-radius: 8px;
  --width: 90%;
  --max-width: 90%;
  --min-width: 90%;
} 

ion-alert{
  .alert-head{
    display: none;
  }
  @supports (inset-inline-start: 0) {
    .alert-radio-icon.sc-ion-alert-md {
      inset-inline-start: inherit;
      color: #fff;
    }
  }
  .alert-radio-label.sc-ion-alert-md{
    padding-inline-start: 26px;
    padding-inline-end: 52px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    color: #0d0d20;
  }
  .alert-radio-group.sc-ion-alert-md{
    border-top: inherit;
    border-bottom: inherit;
    padding-top: 15px;
    padding-bottom: 10px;
  }
  .alert-tappable.sc-ion-alert-md{
    min-height: 40px;
  }
  .alert-radio-icon.sc-ion-alert-md{
    background-color: var(--theme-gray);
    border-color:var(--theme-gray);
  }
  [aria-checked="true"].sc-ion-alert-md .alert-radio-icon.sc-ion-alert-md{
    border-color: var(--theme-color-3);
  background-color: var(--theme-color-3);
  }
  .alert-radio-inner.sc-ion-alert-md{
    background-color:#fff;
  }
}
.alert-radio-button{
  .alert-button-inner{
    position: relative;
    .alert-radio-icon{
      position: absolute; right: 26px; top: 12px;
    }
  }
}

.alert-head.sc-ion-alert-md {
  h2 {
    text-align: center;
  }
}  
.alert-button-group.sc-ion-alert-md {
  justify-content: center;
}  
.alert-button.sc-ion-alert-md {
  background-color: var(--theme-color-3);
  color: #fff;
  border-radius: 6px;
  min-width: 35%;
  height: 48px;

  &.save {
    background-color: var(--theme-color-1) !important;
  }
  &.cancel {
    background-color: var(--theme-color-2) !important;
    color: #fff !important;
  }
  &.secondary {
    background-color: #0D0D20 !important;
  }

}  
.alert-button-group.sc-ion-alert-md {
  .alert-button.sc-ion-alert-md:first-child {
    background-color: var(--theme-color-1); color: #fff;
  }
}  

.alert-button-inner.sc-ion-alert-md {
  justify-content: center;
}  

.alert-head.sc-ion-alert-md + .alert-message.sc-ion-alert-md {
  text-align: center;
}  

.alert-button-group.sc-ion-alert-md {
  padding-bottom: 15px;
}
/** new **/
.alert-radio-group.sc-ion-alert-md{
  max-height: 350px;
}



/************ Searchbar ****/
.searchbar-input.sc-ion-searchbar-md {
  padding-inline-start: 15px;
  padding-inline-end: 55px;
  height: 56px;
  border-radius: 10px;
  color: var(--theme-color-2);
  font-size: 15px;
  background: var(--input-bg);
   border: 1px solid var(--border-color-check) !important;
}
.searchbar-search-icon.sc-ion-searchbar-md{
   top: 20px; color: var(--theme-color-3);
}
.searchbar-search-icon.sc-ion-searchbar-ios {
  color: var(--theme-color-3);
}
.searchbar-has-value.searchbar-should-show-clear.sc-ion-searchbar-md-h .searchbar-clear-button.sc-ion-searchbar-md {
  color: var(--theme-color-3);
}
.sc-ion-searchbar-md-h{
  --placeholder-opacity:1.0; --box-shadow:none;
}


.sc-ion-searchbar-ios-h {
  height: 56px;
  --border-radius: 6px;
}  
.searchbar-left-aligned.sc-ion-searchbar-ios-h .searchbar-input.sc-ion-searchbar-ios {
  padding-inline-start: 15px;
}  
.searchbar-input-container.sc-ion-searchbar-ios {
  // height: 46px;
} 

@supports (inset-inline-start: 0) {
  .searchbar-search-icon.sc-ion-searchbar-md {
    inset-inline-start: calc(100% - 30px);
  }

  .searchbar-search-icon.sc-ion-searchbar-ios {
    inset-inline-start: calc(100% - 30px);
  }

  .searchbar-clear-button.sc-ion-searchbar-md {
    inset-inline-end: 32px;
  }

  .searchbar-clear-button.sc-ion-searchbar-ios {
    inset-inline-end: 32px;
  }
}

.searchbar-input.sc-ion-searchbar-md {
  padding-inline-start: 15px;
  padding-inline-end: 55px;
}
.searching .searchbar-input.sc-ion-searchbar-md {
  padding-inline-start: 60px;
}

ion-accordion {
  &.accordion {
    ion-item {
      ion-icon {
        color: var(--theme-color-2);
      }
    }
  }
}


.country-modal {
  & > .ion-page {
    top: 120px;
  }
}

.my-custom-class {
  &::part(content) {
    height: 75%;
    --border-radius: 10px;
  }
}


/************** ion modal css */
app-country-list {
  &.ion-page {
    top: 120px;
    height: calc(100% - 120px);
  }
}

app-select-country {
  &.ion-page {
    top: calc(100% - 340px);
  }
}

app-qr-loader{
  &.ion-page {
    width: 300px;
    height: 270px;
    border-radius: 20px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
    overflow: hidden;
  }
}

app-processing-bar-fpay-topup{
  &.ion-page {
    width: 300px;
    height: 270px;
    border-radius: 20px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
    overflow: hidden;
  }
}


app-processing-bar-fpay{
  &.ion-page {
    width: 300px;
    height: 270px;
    border-radius: 20px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
    overflow: hidden;
  }
}


app-processing-bar-applepay{
  &.ion-page {
    width: 300px;
    height: 270px;
    border-radius: 20px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
    overflow: hidden;
  }
}

app-processing-bar-tlync-pay{
  &.ion-page {
    width: 300px;
    height: 270px;
    border-radius: 20px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
    overflow: hidden;
  }
}

app-processing-bar-tlync-top-up-pay{
  &.ion-page {
    width: 300px;
    height: 270px;
    border-radius: 20px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
    overflow: hidden;
  }
}


app-processing-bar-apple-pay-topup{
  &.ion-page {
    width: 300px;
    height: 270px;
    border-radius: 20px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
    overflow: hidden;
  }
}

app-processing-bar-google-pay-topup{
  &.ion-page {
    width: 300px;
    height: 270px;
    border-radius: 20px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
    overflow: hidden;
  }
}

app-processing-bar-app-creadit{
  &.ion-page {
    width: 300px;
    height: 270px;
    border-radius: 20px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
    overflow: hidden;
  }
}

app-processing-bar-google-pay{
  &.ion-page {
    width: 300px;
    height: 270px;
    border-radius: 20px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
    overflow: hidden;
  }
}

app-processing-bar{
  &.ion-page {
    width: 300px;
    height: 270px;
    border-radius: 20px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
    overflow: hidden;
  }
}

app-payment-modal {
  &.ion-page {
    top: calc(100% - 300px);
  }
}

app-all-countries-list {
  &.ion-page {
    top: 185px;
    height: calc(100% - 185px);
  }
}

app-checkout-verifcation {
  &.ion-page {
    top: calc(100% - 240px);
  }
}

app-download-esim {
  &.ion-page {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 470px;
    border-radius: 24px;
    width: 90%;
  }
}

app-push-notification {
  &.ion-page {
    width: calc(100% - 60px);
    height: 330px;
    border-radius: 6px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
  }
}




/******************************* Modal *************************************/

ion-modal {
  --background: rgb(0 0 0 / 40%);

  .ion-page{
    border-radius: 12px; 
    overflow: hidden;
    // border: 1px solid var(--theme-color-2);
  }
  ion-header {
    ion-toolbar {
         // --padding-start: 10px;
      // --padding-end: 10px;
      // --background:var(--theme-color-2);
      // border-radius: 16px 16px 0 0;
      // height: 60px;
   //   color: var(--theme-color-2);

      ion-buttons{
        ion-button{
          margin: 0; font-size: 20px; height: 30px;
        }
      }
      &:first-of-type {
        padding-top: 10px;
      }
    }
  }

  ion-content{
    --background:var(--theme-color-2);
    &::part(background){ border-radius:0 0 12px 12px; }
    color: #fff;
  }
  
  app-sharenow.ion-page {
    top: calc(100% - 280px);
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: 210px;
  }
  app-sharenow.ion-page{
    height: 220px; top: calc(100% - 290px);      
  }

  app-delete-card.ion-page {
    top: calc(100% - 290px);
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: 215px;
  }
  
  app-permission-modal.ion-page{
    top: calc(100% - 275px);
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: 215px;
  }

  app-nointernet.ion-page {
    width: 90%;
    height: 200px;
    top: calc(100% - 270px);  
    left: 50%;
    transform: translateX(-50%);
  }

  app-update-app.ion-page {
    width: 90%;
    height: 230px;
    top: calc(100% - 300px);  
    left: 50%;
    transform: translateX(-50%);
  }

  app-confirm-continue.ion-page {
    width: 90%;
    height: 200px;
    top: calc(100% - 270px);  
    left: 50%;
    transform: translateX(-50%);
  }

  app-version-modal.ion-page {
    width: 90%;
    height: 200px;
    top: calc(100% - 270px);  
    left: 50%;
    transform: translateX(-50%);
  }

app-topup-not-applied-modal.ion-page {
    top: calc(100% - 275px);
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: 170px;
  }

  app-version-modal.ion-page{
    height: 220px; top: calc(100% - 290px);      //language
  }

  app-password-error-model.ion-page {
    width: 90%;
    height: 200px;
    top: calc(100% - 270px);  
    left: 50%;
    transform: translateX(-50%);
  }
  app-password-error-model.ion-page{
    height: 270px; top: calc(100% - 340px);      //language
  }

  app-password-error.ion-page {
    width: 90%;
    height: 200px;
    top: calc(100% - 270px);  
    left: 50%;
    transform: translateX(-50%);
  }
  app-password-error.ion-page{
    height: 220px; top: calc(100% - 290px);      //language
  }

  app-success-model.ion-page {
    width: 90%;
    height: 200px;
    top: calc(100% - 270px);  
    left: 50%;
    transform: translateX(-50%);
  }

  app-success-model-esim.ion-page {
    width: 90%;
    height: 240px;
    top: calc(100% - 310px);  
    left: 50%;
    transform: translateX(-50%);
  }
  
  app-plan-country.ion-page {
    top: calc(100% - 400px);
    left: 50%;
    transform: translateX(-50%);
    width: 94%;
    height: 262px;
  }

 app-modal-refercode.ion-page {
    width: 90%;
    height: 310px;
    top: calc(100% - 410px);  
    left: 50%;
    transform: translateX(-50%);
  }
 
  app-modal-nocredit-balance.ion-page {
    width: 90%;
    height: 240px;
    top: calc(100% - 310px);  
    left: 50%;
    transform: translateX(-50%);
  }


  app-del-model-coupen.ion-page {
    width: 72%;
    height: 155px;
    top: calc(100% - 255px);
    left: 50%;
    transform: translateX(-50%);
  }


  app-modal-codenotwork.ion-page {
    width: 90%;
    height: 220px; 
    top: calc(100% - 290px); 
    left: 50%;
    transform: translateX(-50%);
  }
  app-refercode-added.ion-page {
    width: 90%;
    height: 190px;
    top: calc(100% - 240px);  
    left: 50%;
    transform: translateX(-50%);
  }

  app-modal-deleteprofilepic.ion-page {
    top: calc(100% - 295px);
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: 235px;
  }

  app-modal-upload-profile-image.ion-page {
    top: calc(100% - 315px);
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: 255px;
  }

  app-modal-careconc.ion-page {
    width: 90%;
    height: 300px;
    top: calc(100% - 380px);  
    left: 50%;
    transform: translateX(-50%);
  }

  app-compatible-device ion-header ion-toolbar:first-of-type {
    padding-top: 5px;
  }

  app-choose-country{
    &.ion-page {
      border-radius: 0 0 0 0;
      border: none;
      ion-header{
        ion-toolbar{
          border-radius: 0px 0px 0 0;
        }
      }
      ion-content{
        border-radius: 0px 0px 0 0;
        &::part(background){ border-radius:0 0 0 0; }
      }
    }
  }

app-socail-login-country-phone.ion-page {
  top: calc(100% - 280px);
  // transform: translateX(-50%);
  left: 50%; 
  // top: 20%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 400px;
}



   app-country-code-model{
    &.ion-page {
      border-radius: 0 0 0 0;
      border: none;
      ion-header{
        ion-toolbar{
          border-radius: 0px 0px 0 0;
        }
      }
      ion-content{
        border-radius: 0px 0px 0 0;
        &::part(background){ border-radius:0 0 0 0; }
      }
    }
  }

  app-modal-couponadded.ion-page {
    width: 90%;
    height: 220px;
    top: calc(100% - 290px);  
    left: 50%;
    transform: translateX(-50%);
}
  app-split-payment.ion-page{
    border-radius: 0px;
    ion-content::part(background) { border-radius: 0 0 0px 0px; }
  }

  ion-button{
    &.button-outline{
      --background:var(--color-white);
      --background-activated:var(--color-white);
      --color:var(--theme-color-3);
      --border-color:var( --border-color);
      --border-width: 1px;
    }
  }

}

app-date-picker-fpay {
  &.ion-page {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 290px;
    width: 90%;
    border-radius: 20px;
  }
}  

app-date-picker {
  &.ion-page {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 290px;
    width: 90%;
    border-radius: 20px;
  }

  ion-datetime {
    margin-top: 5px;
    min-width: 100%;
  }

  ion-button {
    --background: var(--theme-color-1);
    --background-activated: var(--theme-color-1);
    --color: #fff;
    --padding-start: 20px;
    --padding-end: 20px;
    margin: 0;
    font-size: 18px;
    --box-shadow: none;
    margin: 0px 10px 10px;
    height: 56px;
  }

}
app-facebook-modal.ion-page {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 390px;
  border-radius: 6px;
  width: 85%;
}

app-apple-model {
  &.ion-page {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 390px;
    border-radius: 6px;
    width: 90%;
  }
}



// Modal Arabic

[dir="rtl"] {

  app-sharenow.ion-page,
  app-delete-card.ion-page,
  app-permission-modal.ion-page,
  app-nointernet.ion-page,
  app-update-app.ion-page,
  app-confirm-continue.ion-page,
  app-version-modal.ion-page,
  app-topup-not-applied-modal.ion-page,
  app-password-error-model.ion-page,
  app-password-error.ion-page,
  app-success-model.ion-page,
  app-success-model-esim.ion-page,
  app-plan-country.ion-page,
  app-modal-refercode.ion-page,
  app-modal-nocredit-balance.ion-page,
  app-del-model-coupen.ion-page,
  app-modal-codenotwork.ion-page,
  app-refercode-added.ion-page,
  app-modal-deleteprofilepic.ion-page,
  app-modal-upload-profile-image.ion-page,
  app-modal-couponadded.ion-page,
  app-modal-careconc.ion-page {
    transform: translateX(-5%);
  }

}


 [dir="rtl"] app-socail-login-country-phone.ion-page{
    transform: translate(-5%, -50%);
  }

   [dir="rtl"]  app-apple-model.ion-page{
    transform: translate(-5%, -50%);
  }

  [dir="rtl"] app-socail-login-country-phone input{
    text-align: right !important;
  }

[dir="rtl"] ion-toolbar {
  display: flex !important;
  flex-direction: row-reverse;
}

[dir="rtl"] ion-title {
  text-align: right !important;
}

[dir="rtl"] ion-chip {
  margin-inline-start: 0;
  margin-inline-end: 8px;
}

[dir="rtl"] ion-buttons {
  margin-inline-start: 0;
  margin-inline-end: 8px;
}

[dir="rtl"] .alert-radio-button .alert-button-inner .alert-radio-icon{
      right: revert;
      left:26px !important ;
}

[dir="rtl"] .cardoption ion-radio img {
  margin-left: 10px !important;
}

[dir="rtl"] ion-card .delete {
    right: revert !important;
    left: 0;
}


html[dir="rtl"] .voucher_centered_input input {
  text-align: center !important;
}

html[dir="ltr"] .voucher_centered_input input {
  text-align: center !important;
}

html[dir="ltr"] .otp-input ion-input::part(native),
html[dir="rtl"] .otp-input ion-input::part(native) {
  text-align: center !important;
  direction: ltr !important;
}


html[dir="rtl"] .text-right{
  text-align: left !important;
}

html[dir="rtl"] .loungepassbox .airport {
  text-align: right !important;
}

html[dir="rtl"] ion-row ion-col.right {
  text-align: left !important;
}

html[dir="rtl"] .sharebox .barcode {
  margin-left: 0 !important;
  margin-right: 15px !important;
}

html[dir="rtl"] .text-left {
    text-align: right !important;
}


html[dir="rtl"] {
  app-processing-bar,
  app-processing-bar-fpay,
  app-processing-bar-google-pay,
  app-processing-bar-apple-pay,
  app-processing-bar-apple-pay-topup,
  app-processing-bar-fpay-topup,
  app-processing-bar-google-pay-topup,
  app-processing-bar-app-creadit,
  app-processing-bar-tlync-pay,
  app-processing-bar-tlync-top-up-pay,
  app-push-notification,
  app-download-esim   {
    &.ion-page {
      transform: translate(-16%, 0%) !important;
    }
  }
}

// html[dir="rtl"]  .searching .searchbar-input.sc-ion-searchbar-md {
//     padding-inline-start: 15px !important; 
// }

html[dir="rtl"] .searching .flagicon {
left: auto !important;
    right: 15px;
}


/******************** Toast */
ion-toast {
  --color: #fff;
  font-weight: bold;

  &::part(header) {
    font-weight: bold;
  }

  &.error-toast {
    --background: #f6001a;
  }

  &.success-toast {
    --background: #40AE7B;
  }

  &.black-bg {
    --background: #0d0d20;
  }
}

ion-checkbox .label-text-wrapper {
  margin-inline: 8px 0px;
}

ion-range {
  &::ng-deep .range-knob-handle {
    display: none;
  }
}

/******************** Accordion */
ion-accordion.accordion-animated > [slot="header"] .ion-accordion-toggle-icon {
  font-size: 16px; color: var(--theme-color-3);
}

ion-accordion.accordion-expanded > [slot="header"] .ion-accordion-toggle-icon {
  color: var(--theme-color-3);
}


ion-datetime {
  --background: #fff;

  ion-buttons {
    ion-button {
      --padding-end: 10px;
      --padding-start: 10px;
      width: 2.7rem;

      &::part(native) {
        color: #444;
      }
    }
  }

  &::part(calendar-day active today) {
    background: #4e7647;
    border: none;
  }

  &::part(calendar-day) {
    font-size: 15px;
  }
}

ion-datetime::part(calendar-day active today) {
  background: #4e7647;
}

ion-datetime .calendar-action-buttons ion-item ion-icon {
  color: #444;
}

ion-datetime .calendar-action-buttons ion-buttons ion-button {
  color: #444;
}

ion-popover {
  --width: 200px;
  --offset-x: -15px;

  ion-list {
    ion-item {
      --padding-start: 12px;
      --inner-padding-end: 12px;
      --inner-border-width: 0 0 0 0;
      border-bottom: 1px solid var(--theme-gray);
      --min-height: 40px;
      font-size: 14px;

      &:last-child {
        border-bottom: none;
      }
    }
  }

  &::part(arrow) {
    left: inherit;
    right: 40px;
  }

  &::part(content) {
    border-radius: 12px;
  }
}

.loading-wrapper.sc-ion-loading-md {
  // box-shadow: none;
  flex-direction: column;
  padding-inline-start: 15px;
  padding-inline-end: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.sc-ion-loading-md-h {
  --background: #fff;
}

ion-spinner.sc-ion-loading-md {
  color: #0d0d20;
}

ion-spinner {
  width: 40px;
  height: 40px;

  &.spinner-crescent {
    circle {
      stroke-width: 6px;
    }
  }
}

ion-spinner.sc-ion-loading-ios {
  color: #0d0d20;
}

.loading-spinner.sc-ion-loading-md + .loading-content.sc-ion-loading-md {
  margin-inline-start: 0;
  margin-top: 5px;
}

google-pay-button .gpay-card-info-container.black {
  min-width: 100%;
}

ion-refresher.refresher-native ion-spinner {
  color: #0d0d20;
}

ion-refresher.refresher-native .arrow-container ion-icon {
  color: #0d0d20;
}

.alert-title.sc-ion-alert-ios {
  font-size: 22px;
  font-weight: normal;
}

.alert-message.sc-ion-alert-ios {
  font-size: 15px;
}
.iccid .input-disabled.sc-ion-input-md-h {
  opacity: 1.0; color:#0d0d20;
}
.iccid .input-wrapper.sc-ion-input-md input.sc-ion-input-md {
  opacity: 1.0; font-size:18px; color:#0d0d20;
}



// ion-alert{ display: none !important;}
ion-select{    
  font-size: 17px;
  // &::part(label){ display: none; }
  // .select-wrapper{ width: 100%;}
  // .select-wrapper-inner{ width: 100%; }
  // &::part(container){ width: 100%; }
}

ion-alert{  
  &.alert-days-select{
    .alert-wrapper{
      .alert-button-group{ 
        // display: none; 
      }
    }
  }
}

// Popover select css
ion-popover{
  --width:calc(100% - 44px) !important;
  ion-select-popover{
    --width:100%;
    ion-list{
      ion-radio-group{
        .item-radio-checked.sc-ion-select-popover-md{
          --background:#fff;
          --background-focused-opacity:0;
          --background-hover-opacity:0;
          --background-focused:#fff;
        }
        ion-radio{
          color: #0d0d20; font-size: 16px;          
        }
        ion-item{
          --background-focused:#fff;
          border-bottom:none;
        }
      }
    }
  }
}
ion-list.sc-ion-select-popover-md ion-radio.sc-ion-select-popover-md::part(container){ 
  opacity: 1; 
  background-color: var(--theme-gray);
  border-color:var(--theme-gray);
}
ion-list.sc-ion-select-popover-md ion-radio.radio-checked.sc-ion-select-popover-md::part(container){ 
    border-color: var(--theme-color-3);
  background-color: var(--theme-color-3);
}
ion-list.sc-ion-select-popover-md ion-radio.sc-ion-select-popover-md::part(mark){
  background: var(--theme-color-1);
}
// Popover select css end


ion-select-option::part(native) {
  display: flex;
  align-items: center;
}

ion-select-option::part(native)::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid var(--theme-color-2);
  margin-right: 8px;
  background-color: var(--ion-background-color, #fff);
}

ion-select-option:checked::part(native)::before {
  background-color: var(--theme-color-3);
}



/* src/styles.css or component-specific CSS */
#webWidget {
  display: none !important;
}

#launcher
{
  display: none !important;
}

/* Hide Zendesk chat widgets */
iframe[title="Close message"] {
  display: none !important;
}

iframe[title="Message from company"] {
  display: none !important;
}

iframe[title="Number of unread messages"] {
  display: none !important;
}
iframe[title="Messaging window"] {
  padding-top: 60px;
//  background-color: #112042;
}

.custom-context-menu{
  position: absolute;
  top: 400px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1111;
}
.context-menu {
  // background: var(--theme-gray);
  background: #c7cacb;
  border: 1px solid #95969b;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);  
  width: 280px;
  height: auto;
  border-radius: 14px;
  overflow: hidden;

  button {
    display: block;  width: 100%; padding: 12px 18px; background: #c7cacb; text-align: left;
    border-bottom: 1px solid #95969b; font-size: 16px; font-weight: normal; color:#333;
    display: flex; justify-content: space-between; align-items: center;

    ion-icon{
      float: right; font-size: 22px; color:#333;
    }

    &:last-child{ border-bottom: none; /*margin-top: 10px;*/ border-top: 5px solid #a6a9ab;}

    &:hover{ background: #fff; }
  }
}

ion-action-sheet{
  .action-sheet-group{
    padding: 0 15px;
    .action-sheet-title{
      text-align: center;
    }
  }
  .action-sheet-button{
    background: var(--theme-color-1) !important;
    color: #fff !important;
    border-radius: 8px;
    margin: 0 0 10px;
    font-weight: 600;

    &.action-sheet-destructive{
      background: var(--theme-color-2) !important;
      color: var(--theme-color-1) !important;
    }

    &.action-sheet-cancel{
      background: #ddd !important;
      color: #333 !important;
    }

    .action-sheet-button-inner.sc-ion-action-sheet-md{
      justify-content: center;
    }
  }
}

ion-radio{
  &.radio-checked{
    &::part(mark){
      position: relative; background: none !important;
      &::before{
        position: absolute; z-index: 11; content: ""; left: 1px; top: 4px; width: 2px; height: 7px; background: #fff; transform: rotateZ(-45deg); 
      }
      &::after{
        position: absolute; z-index: 11; content: ""; left: 7px; top: 0; width: 2px; height: 12px; background: #fff; transform: rotateZ(-135deg);
      }
    }
  }
}



/******************************* Modal *************************************/


ion-modal {
 --background: rgb(0 0 0 / 40%);

  .ion-page{
    border-radius: 12px; 
    overflow: hidden;
    // border: 1px solid var(--theme-color-2);
  }
  ion-header {
    ion-toolbar {
      --padding-start: 10px;
      --padding-end: 10px;
      //--background:var(--theme-color-2);
      border-radius: 16px 16px 0 0;
      height: 60px;
      color: var(--theme-color-2);

      ion-buttons{
        ion-button{
          margin: 0; font-size: 20px; height: 30px;
        }
      }
      &:first-of-type {
        padding-top: 10px;
      }
    }
  }

  ion-content{
    // --background:var(--color-white);
    --background:var(--color-white);
    &::part(background){ border-radius:0 0 12px 12px; }
    color: var(--theme-color-2);
  }
  

  app-sharenow.ion-page {
    top: calc(100% - 280px);
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: 210px;
  }
  app-sharenow.ion-page{
    height: 200px; top: calc(100% - 270px);       
  }

  app-delete-card.ion-page {
    top: calc(100% - 290px);
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: 215px;
  }
  
  app-permission-modal.ion-page{
    top: calc(100% - 275px);
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: 215px;
  }

  app-nointernet.ion-page {
    width: 90%;
    height: 200px;
    top: calc(100% - 270px);  
    left: 50%;
    transform: translateX(-50%);
  }

  app-update-app.ion-page {
    width: 90%;
    height: 230px;
    top: calc(100% - 300px);  
    left: 50%;
    transform: translateX(-50%);
  }

  app-confirm-continue.ion-page {
    width: 90%;
    height: 200px;
    top: calc(100% - 270px);  
    left: 50%;
    transform: translateX(-50%);
  }

  app-version-modal.ion-page {
    width: 90%;
    height: 200px;
    top: calc(100% - 270px);  
    left: 50%;
    transform: translateX(-50%);
  }
  app-version-modal.ion-page{
    height: 220px; top: calc(100% - 290px);      //language
  }

  app-password-error-model.ion-page {
    width: 90%;
    height: 200px;
    top: calc(100% - 270px);  
    left: 50%;
    transform: translateX(-50%);
  }
  app-password-error-model.ion-page{
    height: 270px; top: calc(100% - 340px);      //language
  }

  app-password-error.ion-page {
    width: 90%;
    height: 200px;
    top: calc(100% - 270px);  
    left: 50%;
    transform: translateX(-50%);
  }
  app-password-error.ion-page{
    height: 220px; top: calc(100% - 290px);      //language
  }

  app-success-model.ion-page {
    width: 90%;
    height: 200px;
    top: calc(100% - 270px);  
    left: 50%;
    transform: translateX(-50%);
  }

  app-success-model-esim.ion-page {
    width: 90%;
    height: 240px;
    top: calc(100% - 310px);  
    left: 50%;
    transform: translateX(-50%);
  }
  
  app-plan-country.ion-page {
    top: calc(100% - 400px);
    left: 50%;
    transform: translateX(-50%);
    width: 94%;
    height: 262px;
  }

  app-modal-refercode.ion-page {
    width: 90%;
    height: 300px;
    top: calc(100% - 370px);  
    left: 50%;
    transform: translateX(-50%);
  }
 
  app-modal-nocredit-balance.ion-page {
    width: 90%;
    height: 240px;
    top: calc(100% - 310px);  
    left: 50%;
    transform: translateX(-50%);
  }


  app-del-model-coupen.ion-page {
    width: 72%;
    height: 155px;
    top: calc(100% - 255px);
    left: 50%;
    transform: translateX(-50%);
  }


  app-modal-codenotwork.ion-page {
    width: 90%;
    height: 220px; 
    top: calc(100% - 290px); 
    left: 50%;
    transform: translateX(-50%);
  }
  app-refercode-added.ion-page {
    width: 90%;
    height: 190px;
    top: calc(100% - 240px);  
    left: 50%;
    transform: translateX(-50%);
  }

  app-modal-deleteprofilepic.ion-page {
    top: calc(100% - 295px);
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: 235px;
  }

  app-modal-upload-profile-image.ion-page {
    top: calc(100% - 315px);
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: 255px;
  }

  app-modal-careconc.ion-page {
    width: 90%;
    height: 280px;
    top: calc(100% - 360px);  
    left: 50%;
    transform: translateX(-50%);
  }

  app-compatible-device ion-header ion-toolbar:first-of-type {
    padding-top: 5px;
  }

  app-choose-country{
    &.ion-page {
      border-radius: 0 0 0 0;
      border: none;
      ion-header{
        ion-toolbar{
          border-radius: 0px 0px 0 0;
        }
      }
      ion-content{
        border-radius: 0px 0px 0 0;
        &::part(background){ border-radius:0 0 0 0; }
      }
    }
  }

//   app-socail-login-country-phone.ion-page {
//   // top: calc(100% - 280px);
//   // transform: translateX(-50%);
//   left: 50%; 
//   top: 30%;
//   transform: translate(-50%, -50%);
//   width: 90%;
//   height: 400px;
// }



   app-country-code-model{
    &.ion-page {
      border-radius: 0 0 0 0;
      border: none;
      ion-header{
        ion-toolbar{
          border-radius: 0px 0px 0 0;
        }
      }
      ion-content{
        border-radius: 0px 0px 0 0;
        &::part(background){ border-radius:0 0 0 0; }
      }
    }
  }

  app-modal-couponadded.ion-page {
    width: 90%;
    height: 220px;
    top: calc(100% - 290px);  
    left: 50%;
    transform: translateX(-50%);
}
  app-split-payment.ion-page{
    border-radius: 0px;
    ion-content::part(background) { border-radius: 0 0 0px 0px; }
  }

  ion-button{
    &.button-outline{
      --background:var(--color-white);
      --background-activated:var(--color-white);
      --color:var(--theme-color-3);
      --border-color:var( --border-color);
      --border-width: 1px;
    }
  }

}

app-date-picker-fpay {
  &.ion-page {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 290px;
    width: 90%;
    border-radius: 20px;
  }
}  

app-date-picker {
  &.ion-page {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 290px;
    width: 90%;
    border-radius: 20px;
  }

  ion-datetime {
    margin-top: 5px;
    min-width: 100%;
  }

  ion-button {
    --background: var(--theme-color-1);
    --background-activated: var(--theme-color-1);
    --color: #fff;
    --padding-start: 20px;
    --padding-end: 20px;
    margin: 0;
    font-size: 18px;
    --box-shadow: none;
    margin: 0px 10px 10px;
    height: 56px;
  }

}
app-facebook-modal.ion-page {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 390px;
  border-radius: 6px;
  width: 85%;
}

app-apple-model {
  &.ion-page {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 365px;
    border-radius: 6px;
    width: 90%;
  }
}




/**************************************************************/
/***** iPad 11, iPad Pro, iPad mini ****/
@media only screen 
and (min-device-width: 768px) 
and (min-device-height: 1024px) 
// and (max-device-width: 1024px) 
// and (max-device-height: 1366px) 
and (-webkit-min-device-pixel-ratio: 2){

  ion-header{
    ion-toolbar{
      // height: 180px;
      --min-height: 150px; 
      // height: 140px;
      ion-title{ padding-inline: 30px; }
      ion-buttons{
        ion-button{ font-size: 33px;}
      }
    }
  }
  ion-header ion-toolbar ion-title h3{ font-size: 40px; line-height: 60px; }
  ion-header ion-toolbar ion-title p{ font-size: 27px; }
  ion-header ion-toolbar .sc-ion-buttons-md-s ion-button {  min-height: 66px; }
  

  p { font-size: 22px; }
  ion-button { font-size: 28px; height: 80px; letter-spacing: 0.2px; }
  ion-item{ --padding-start: 20px;  --inner-padding-end: 20px; }
  
  ion-accordion.accordion-animated > [slot="header"] .ion-accordion-toggle-icon { font-size: 23px; }
 
  /************ alert */
  .alert-wrapper.sc-ion-alert-md {
    border-radius: 10px; --width: 94%;  --max-width: 94%; --min-width: 94%;
  }
  ion-alert .alert-radio-label.sc-ion-alert-md {
    padding-inline-start: 39px; padding-inline-end: 65px; padding-top: 15px; padding-bottom: 15px; font-size: 24px;
  }
  .alert-button.sc-ion-alert-md{ border-radius: 8px; padding-top: 15px; padding-bottom: 15px; font-size: 20px; }
  .alert-radio-icon.sc-ion-alert-md{ width: 30px; height: 30px; }
  .alert-radio-inner.sc-ion-alert-md{ width: 15px; height: 15px; top: 5px; }
  @supports (inset-inline-start: 0) {
    .alert-radio-inner.sc-ion-alert-md { inset-inline-start: 6px; }
  }
  @supports (inset-inline-start: 0) {
    .searchbar-search-icon.sc-ion-searchbar-md {
      inset-inline-start: calc(100% - 45px); top: 32px; width: 24px; height: 24px;
    }
  }
  ion-select{
    &::part(icon){ width: 24px; }
  }
  ion-input{ font-size: 23px; }
  ion-checkbox{ font-size: 23px; }
  .sc-ion-input-md-h { font-size: 23px; }
  
  .alert-radio-group.sc-ion-alert-md { max-height: 460px; }
  .alert-button-group.sc-ion-alert-md { padding-bottom: 20px; }

 
  .ion-padding { --padding-start: 30px; --padding-end: 30px; }
  .ion-padding { padding-inline-start: 30px; padding-inline-end: 30px; }
  .searchbar-input.sc-ion-searchbar-md{ height: 70px; border-radius: 8px;  font-size: 26px;}

  .sc-ion-input-md-h:not(.legacy-input) { min-height: 70px; }

  /************ Modal */
  ion-modal{ --box-shadow:none; }
  ion-modal app-confirm-continue.ion-page { width: 100%; height: 280px; top: calc(100% - 280px); }
  ion-modal app-sharenow.ion-page { top: calc(100% - 290px); width: 100%; height: 290px; }
  ion-modal app-update-app.ion-page { width: 100%; height: 265px; top: calc(100% - 265px); }
  ion-modal app-nointernet.ion-page { width: 100%; height: 270px; top: calc(100% - 270px); }
  ion-modal app-facebook-modal.ion-page{ height: 540px; width: 100%;}
  ion-modal app-apple-model.ion-page { height: 540px; width: 100%; }
  ion-modal app-processing-bar.ion-page { width: 420px; height: 370px; }
  ion-modal app-processing-bar-fpay.ion-page { width: 420px; height: 370px; }
  ion-modal app-processing-bar-applepay.ion-page { width: 420px; height: 370px; } 
  ion-modal app-processing-bar-google-pay.ion-page { width: 420px; height: 370px; }
  ion-modal app-modal-refercode.ion-page { width: 100%; height: 380px; top: calc(100% - 380px); }
  ion-modal app-processing-bar-app-creadit.ion-page { width: 420px; height: 370px; }
  ion-modal processing-bar-apple-pay-topup.ion-page { width: 420px; height: 370px; } 
  ion-modal processing-bar-google-pay-topup.ion-page { width: 420px; height: 370px; } 
  ion-modal app-processing-bar-fpay-topup.ion-page { width: 420px; height: 370px; }
  ion-modal processing-bar-tlync-pay.ion-page { width: 420px; height: 370px; } 
  ion-modal processing-bar-tlync-top-up-pay.ion-page { width: 420px; height: 370px; } 
  ion-modal app-success-model.ion-page { width: 100%; height: 280px; top: calc(100% - 280px); }
  ion-modal app-modal-refercode.ion-page { width: 100%; height: 350px; top: calc(100% - 350px); }
  ion-modal app-modal-nocredit-balance.ion-page { width: 100%; height: 260px; top: calc(100% - 260px); }
  ion-modal app-modal-codenotwork.ion-page { height: 300px; top: calc(100% - 300px); }
  ion-modal app-del-model-coupen.ion-page { height: 200px; top: calc(100% - 200px); }
  ion-modal app-refercode-added.ion-page { width: 100%; height: 270px; top: calc(100% - 270px); }
  ion-modal app-modal-deleteprofilepic.ion-page { width: 100%; height: 300px; top: calc(100% - 300px); }
  ion-modal app-modal-upload-profile-image.ion-page { width: 100%; height: 320px; top: calc(100% - 320px); }
  ion-modal app-modal-careconc.ion-page { width: 100%; height: 350px; top: calc(100% - 350px); }
  ion-modal app-plan-country.ion-page { width: 100%; height: 310px; top: calc(100% - 310px); }
  ion-modal app-modal-couponadded.ion-page { width: 100%; height: 280px; top: calc(100% - 280px); }
  ion-modal app-socail-login-country-phone.ion-page { width: 100%; height: 440px; top: calc(100% - 440px); }
  //ion-modal app-permission-modal.ion-page{ width: 100%; height: 240px; }
  ion-modal app-password-error.ion-page{ width: 100%; height: 260px; top: calc(100% - 260px); }
  ion-modal app-version-modal.ion-page { height: 270px; top: calc(100% - 270px); }
  ion-modal app-delete-card.ion-page { height: 275px; top: calc(100% - 275px); }
  ion-modal app-topup-not-applied-modal.ion-page { height: 270px; top: calc(100% - 270px); }

  ion-modal ion-header ion-toolbar ion-buttons ion-button { font-size: 30px; height: 30px; }
  ion-modal app-password-error.ion-page{ width: 100%; height: 260px; top: calc(100% - 260px); }
  
  ion-modal app-split-payment.ion-page{
    --width:100%; --height:100%;
  }

  
  ion-footer {
    ion-toolbar{ --min-height: 80px; 
      .tabmenu{ /*padding: 0 30px;*/
        ion-button{ height: 80px;
          img{ 
            // width: 30px; 
            height: 32px;
          }
          &.middle{
            // img{ width: 55px;}
          }
        }
      }
    }
  }

  @supports (inset-inline-start: 0){
    .searchbar-clear-button.sc-ion-searchbar-md {
      inset-inline-end: 60px;
    }
  }
  
  ion-popover { --width: calc(100% - 70px) !important; }
  ion-popover ion-select-popover ion-list ion-radio-group ion-radio { font-size: 24px; }
  ion-popover ion-list ion-item{ --padding-start: 20px;  --inner-padding-end: 20px; --min-height: 60px; }
  ion-list.sc-ion-select-popover-md ion-radio.sc-ion-select-popover-md::part(container){ width: 30px; height: 30px; }
  app-date-picker ion-button{ height: 76px; font-size: 24px; }
  app-date-picker-fpay ion-button{ height: 76px; font-size: 24px; }

  .searchbar-input.sc-ion-searchbar-md { padding-inline-start: 20px;  padding-inline-end: 55px; }
  .searching .searchbar-input.sc-ion-searchbar-md { padding-inline-start: 75px; }

  iframe[title="Messaging window"] {
    padding-top: 0px;
    inset: 0 0px 0px 0 !important;
    width: 100% !important;
    height: 100% !important;
    max-height: calc(100vh - 0px) !important;
  }

  .custom-context-menu{ top: 450px; }
  .context-menu{ width: 420px; }
  .context-menu button{ padding: 16px 18px; font-size: 24px; }
  .context-menu button ion-icon { font-size: 34px; }
  
  ion-radio.radio-checked::part(mark)::before{ left: 1px; top: 6px; width: 2px; height: 8px; }
  ion-radio.radio-checked::part(mark)::after{ left: 9px; top: 0; width: 2px; height: 14px; }

}





/**************************************************************/
/***** small devices ****/
@media only screen and (max-width : 380px) {

  ion-header ion-toolbar ion-title h3 { font-size: 27px; line-height: 34px;  }
  ion-header ion-toolbar ion-title p { font-size: 16px; }


}



/**************************************************************/
/* iPhone 15 and iPhone 15 Pro and iPhone 15 Plus and iPhone 15 Pro Max (6.7-inch, 2796 x 1290 pixels, DPR 3)*/
@media only screen 
and (min-device-width: 390px)  
and (min-device-height: 844px) 
and (max-device-width: 430px) 
and (max-device-height: 932px) 
and (-webkit-device-pixel-ratio: 3) {

  ion-modal app-permission-modal.ion-page{ height: 195px; }

  iframe[title="Messaging window"] {
    inset: 0 0px 0px 0 !important;
    width: 100% !important;
    height: 100% !important;
    max-height: calc(100vh - 0px) !important;
  }


}

.ifVissible
{
width:100%;
height: 90vh;
}

.ifHidden
{
  width:100%
}




html[dir="ltr"] .otp-input ion-input .native-input {
  text-align: center !important;
  direction: ltr !important;
}

.sc-ion-input-md-h{
--highlight-color: var(--theme-color-3) !important ;
--highlight-color-valid: var(--theme-color-3) !important 
}

html[dir="rtl"] .countrybox .arrow {
  right: auto !important;
  left: 10px !important;
}
