<ion-content class="ion-padding" [fullscreen]="true">

  <div class="topbox">&nbsp;
  </div>

  <h3 class="ion-text-center" [innerHTML]="'TOPUP_SUCCESS_TITLE' | translate"></h3>

  <!-- Cashback Section Start -->
  <div *ngIf="cashBackRes?.is_cashback_applicable === 1">
    <p class="ion-text-center" *ngIf="cashBackRes?.amount_type === 'fixed'">
      <img src="assets/img/cashback-dark.png">
      <strong>{{ 'CASHBACK.SUCCESS' | translate }}</strong><br>
    {{ 'CASHBACK.ADDED' | translate: { 
        amount: (cashBackRes?.currency === 'LYD' 
                  ? (lang === 'ar' ? (cashBackRes?.amount | number:'1.0-0') + ' د.ل' 
                                   : 'LYD ' + (cashBackRes?.amount | number:'1.0-0')) 
                  : (cashBackRes?.amount | currency: cashBackRes?.currency)) 
      } 
  }}
    </p>

    <p  class="ion-text-center" *ngIf="cashBackRes?.amount_type !== 'fixed'">
      <img src="assets/img/cashback-dark.png" >
      <strong>{{ 'CASHBACK.PERCENTAGE_SUCCESS' | translate: { percentage: cashBackRes?.percentage } }}</strong><br>
     {{ 'CASHBACK.ADDED' | translate: { 
        amount: (cashBackRes?.currency === 'LYD' 
                  ? (lang === 'ar' ? (cashBackRes?.amount | number:'1.0-0') + ' د.ل' 
                                   : 'LYD ' + (cashBackRes?.amount | number:'1.0-0')) 
                  : (cashBackRes?.amount | currency: cashBackRes?.currency)) 
      } 
  }}
    </p>
  </div>
  <!-- Cashback Section End -->

    
  <ion-button expand="block" fill="outline" (click)="installLater()">
    <img src="assets/img/icons/location.png"> {{ 'GO_TO_PLANS_BUTTON' | translate }}
  </ion-button>


</ion-content>