<ion-content class="ion-padding">
  <h2>
    <span *ngIf="currencyCode === 'LYD'">
            <ng-container *ngIf="lang === 'ar'; else lydEn">
              {{ value | number:'1.0-0' }} د.ل
            </ng-container>

            <ng-template #lydEn>
              LYD&nbsp;{{ value| number:'1.0-0' }}
            </ng-template>
          </span>

          <span *ngIf="currencyCode !== 'LYD'">
            {{ value | currency:currencyCode }}
          </span>
  </h2>
  <p>
    <strong>
      {{'COUPON_ADDED' | translate}}
    </strong>
  </p>
  <p>
    {{value1}}
  </p>
  <div class="sharereferral">
    <ion-button (click)="gotoClose()">{{'VERIFICATION_CONTINUE_BUTTON' | translate }}</ion-button>
  </div>
</ion-content>