<ion-header>
  <ion-toolbar>
    <ion-title>
      <h3>Verify your email</h3>
      <p>Enter the code we sent to you</p>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click) ="closePopover(false)">
        <ion-icon name="arrow-back-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <p class="text">
    We've sent a four digit verification code to yourname&#64;yourmail.com. Please enter the numbers below.
  </p>

  <ion-item class="otp-input">
    <ion-input type="tel" placeholder="*" [(ngModel)]="num1" #otp1 maxLength="1" (paste)="onPaste($event, otp1, otp2, otp3, otp4)"
    (keyup)="otpChange($event, otp2, '', 'otp1')"></ion-input>
    <ion-input type="tel" placeholder="*" [(ngModel)]="num2" #otp2 maxLength="1" (keyup)="otpChange($event, otp3, otp1, 'otp2')"></ion-input>
    <ion-input type="tel" placeholder="*" [(ngModel)]="num3" #otp3 maxLength="1" (keyup)="otpChange($event, otp4, otp2, 'otp3')"></ion-input>
    <ion-input type="tel" placeholder="*" [(ngModel)]="num4" #otp4 maxLength="1" (keyup)="otpChange($event, '', otp3, 'otp4')"></ion-input>
  </ion-item>

  <!-- <div class="btn-verify">
    <ion-button expand="block" (click) ="closePopover(true)">
      Verify
    </ion-button>
  </div> -->

  <ion-button expand="block" class="btn-green btn-continue" (click) ="closePopover(true)">
    Continue
  </ion-button>

  <div class="orbox">
    <span>OR</span>
  </div>

  <ion-button expand="block" class="btn-secondary btn-resend" >
    Resend code
  </ion-button> 

</ion-content>


<ion-footer>
  <ion-toolbar>
    <div class="tabmenu">
      <ion-button (click)="gotoHomeSearch()">
        <img class="normal" src="assets/img/icons/home.png" alt="">
        <img class="active" src="assets/img/icons/home-yellow.png" alt="">
      </ion-button>

      <ion-button class="middle" (click)="gotoTab1()">
        <img class="normal" src="assets/img/icons/location.png" alt="">
        <img class="active" src="assets/img/icons/location-yellow.png" alt="">
      </ion-button>

      <ion-button (click)="gotoTab5()">
        <img class="normal" src="assets/img/icons/filter.png" alt="">
        <img class="active" src="assets/img/icons/filter-yellow.png" alt="">
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>