<ion-content>

  <p>{{ 'THIS_PLAN_WORKS_IN_COUNTRIES' | translate: { countryList: countryList } }}</p>
  
  <ion-row class="country-row">
    <ion-col size="6" *ngFor="let bundleItem of allCountriesList">
      <div class="selcountrybox">
        <span class="country" *ngIf="bundleItem.iso == 'LATAM'">
          <img src="assets/flags/la.svg" alt="">
        </span>

        <span class="country" *ngIf="bundleItem.iso == 'Europe+'">
          <img src="assets/flags/eur.svg" alt="">
        </span>

        <span class="country" *ngIf="bundleItem.iso == 'North America'">
          <img src="assets/flags/northam.svg" alt="">
        </span>

        <span class="country" *ngIf="bundleItem.iso == 'Middle East'">
          <img src="assets/flags/middleast.svg" alt="">
        </span>

        <span class="country"
          *ngIf="bundleItem.iso != 'Middle East' && bundleItem.iso != 'North America' && bundleItem.iso != 'Europe+' && bundleItem.iso != 'LATAM'">
          <img src="assets/flags/{{ bundleItem.iso | lowercase }}.svg" alt="">
        </span>

        <span> {{ bundleItem.name.length <= 25 ? bundleItem.name : bundleItem.name.slice(0, 25) + '...' }}</span>
      </div>
    </ion-col>
  </ion-row>


</ion-content>
